In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2010.csv")
census.head()

,Year,State,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2010,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,10.4,8.7,15.5,21.7,15.6,15.6,8.7,61.964,1130,568
1,2010,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,4.0,5.1,8.4,17.8,17.0,27.3,19.1,94.747,1772,3177
2,2010,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,8.8,8.2,14.1,22.6,16.2,17.2,10.2,66.539,1442,1489
3,2010,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,10.9,10.6,16.8,22.8,15.1,14.1,7.1,59.393,987,703
4,2010,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,5.9,5.2,10.0,17.7,15.9,22.1,21.2,88.444,2242,3284

In [3]:
census.shape

(52, 26)

In [4]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2010.csv")
pop.head()

,Year,Region,NAME,Population,Net Population Change,Net Migration
0,2010,0,United States,309321666,563561,174416
1,2010,1,Northeast Region,55380134,61691,12225
2,2010,2,Midwest Region,66974416,44691,-25953
3,2010,3,South Region,114866680,303650,158731
4,2010,4,West Region,72100436,153529,29413

In [5]:
pop.shape

(57, 6)

In [6]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)
census.head()

,Year,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2010,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,10.4,8.7,15.5,21.7,15.6,15.6,8.7,61.964,1130,568
1,2010,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,4.0,5.1,8.4,17.8,17.0,27.3,19.1,94.747,1772,3177
2,2010,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,8.8,8.2,14.1,22.6,16.2,17.2,10.2,66.539,1442,1489
3,2010,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,10.9,10.6,16.8,22.8,15.1,14.1,7.1,59.393,987,703
4,2010,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,5.9,5.2,10.0,17.7,15.9,22.1,21.2,88.444,2242,3284

In [7]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [8]:
df.shape

(52, 31)

In [9]:
df.head(55)

,Year_x,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Year_y,Region,Population,Net Population Change,Net Migration
0,2010,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,15.6,8.7,61.964,1130,568,2010,3,4785437,5312,2168
1,2010,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,27.3,19.1,94.747,1772,3177,2010,4,713910,3661,1598
2,2010,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,17.2,10.2,66.539,1442,1489,2010,4,6407172,14884,5672
3,2010,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,14.1,7.1,59.393,987,703,2010,3,2921964,5933,3270
4,2010,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,22.1,21.2,88.444,2242,3284,2010,4,37319502,64983,-721
5,2010,Colorado,2.5,4.0,11.3,17.3,29.3,24.0,11.6,243.3,...,20.8,14.3,78.267,1590,1508,2010,4,5047349,18030,8433
6,2010,Connecticut,1.0,1.5,5.7,13.0,30.3,30.4,18.0,294.5,...,23.7,22.8,94.298,2068,4987,2010,1,3579114,4967,2572
7,2010,Delaware,3.1,2.6,7.4,17.7,33.8,28.0,7.4,249.0,...,21.3,12.9,77.716,1569,1302,2010,3,899593,1656,638
8,2010,District of Columbia,1.2,1.1,1.9,3.1,16.0,35.2,41.5,439.4,...,19.2,36.5,112.294,2297,2640,2010,3,605226,3459,2169
9,2010,Florida,4.4,15.7,19.5,19.5,20.9,13.5,6.5,172.1,...,15.4,9.5,62.096,1505,1979,2010,3,18845537,40973,32460
10,2010,Georgia,5.2,14.4,22.9,20.5,18.8,12.7,5.4,164.9,...,17.1,11.8,67.424,1390,1654,2010,3,9711881,23152,7100
11,2010,Hawaii,0.5,1.2,1.5,3.9,12.0,29.0,51.9,516.1,...,26.0,17.6,88.857,2240,1400,2010,4,1363963,3656,1627
12,2010,Idaho,4.2,10.3,23.9,23.0,22.2,11.7,4.7,171.0,...,12.1,6.7,60.953,1187,1280,2010,4,1570746,3089,-264
13,2010,Illinois,4.0,12.3,14.9,17.8,23.6,18.9,8.6,203.9,...,19.9,14.3,77.134,1655,4061,2010,2,12840503,8931,-8461
14,2010,Indiana,6.1,26.3,26.9,17.9,13.9,6.7,2.2,130.7,...,15.3,7.1,63.300,1090,1123,2010,2,6490432,6381,-664
15,2010,Iowa,7.3,24.9,26.2,16.8,15.9,6.7,2.1,133.3,...,16.8,7.3,67.976,1140,1769,2010,2,3050745,3874,903
16,2010,Kansas,8.8,23.3,20.8,19.8,16.7,8.1,2.6,143.1,...,18.2,9.4,70.693,1239,1875,2010,2,2858190,5067,1138
17,2010,Kentucky,9.0,23.2,24.6,17.8,15.7,7.3,2.6,136.1,...,14.8,7.0,61.497,1072,1104,2010,3,4348181,8848,5551
18,2010,Louisiana,8.4,17.5,20.2,21.1,19.8,9.9,3.2,157.7,...,17.6,10.1,68.145,1163,784,2010,3,4544532,11045,5308
19,2010,Maine,3.7,12.3,16.5,22.1,26.7,14.1,4.7,188.5,...,15.9,7.4,65.808,1289,2211,2010,1,1327629,-729,-1015
20,2010,Maryland,1.5,2.5,5.0,10.2,28.4,33.2,19.2,311.0,...,25.1,23.9,98.145,2016,3079,2010,3,5788645,14851,7396
21,2010,Massachusetts,1.1,1.2,3.8,8.7,25.7,39.0,20.5,337.7,...,24.9,21.8,94.695,2036,3624,2010,1,6566307,18522,12435
22,2010,Michigan,9.8,24.6,22.9,18.1,14.9,7.4,2.3,132.0,...,15.9,8.6,64.740,1288,2410,2010,2,9877510,-6606,-14053
23,2010,Minnesota,3.3,7.5,15.5,22.7,28.4,16.7,5.9,202.9,...,20.1,12.4,77.042,1503,2256,2010,2,5310828,6901,-1100
24,2010,Mississippi,14.1,27.4,21.0,16.3,13.3,6.2,1.7,118.7,...,12.9,6.0,56.878,1043,846,2010,3,2970548,2418,-478
25,2010,Missouri,6.8,19.9,23.6,19.6,17.9,8.8,3.4,149.4,...,16.6,8.5,65.911,1182,1418,2010,2,5995974,7024,1369
26,2010,Montana,5.5,10.1,13.6,22.0,25.7,17.1,6.0,196.8,...,14.7,6.3,62.191,1217,1656,2010,4,990697,1290,653
27,2010,Nebraska,7.0,21.4,30.5,17.8,15.5,5.9,1.9,136.0,...,18.6,8.1,71.102,1218,2482,2010,2,1829542,3237,403
28,2010,Nevada,3.7,12.6,19.7,20.8,23.6,14.3,5.3,179.1,...,19.3,10.9,71.865,1638,1783,2010,4,2702405,1728,-2144
29,2010,New Hampshire,1.8,4.0,9.0,15.0,38.8,25.0,6.4,247.6,...,23.2,15.7,84.346,1853,4807,2010,1,1316762,300,-354
30,2010,New Jersey,0.9,1.9,3.9,8.3,23.8,38.7,22.5,346.8,...,24.6,25.4,99.984,2370,6963,2010,1,8799446,7468,-1746
31,2010,New Mexico,6.8,12.5,18.3,20.9,22.7,12.5,6.2,174.3,...,16.1,8.7,62.597,1202,1243,2010,4,2064552,5353,2456
32,2010,New York,2.9,10.8,10.9,9.4,13.8,27.3,24.9,315.1,...,22.3,20.2,87.812,1963,4399,2010,1,19399878,21734,-3777
33,2010,North Carolina,4.7,15.8,22.2,19.2,19.6,12.7,5.9,165.8,...,15.3,9.5,64.837,1250,1382,2010,3,9574323,38572,25284
34,2010,North Dakota,10.4,18.9,24.5,21.5,18.0,5.2,1.4,142.8,...,20.0,7.3,73.191,1133,2025,2010,2,674715,2139,1253
35,2010,Ohio,5.2,22.9,26.0,19.2,16.7,7.8,2.2,141.7,...,16.6,8.6,66.594,1246,2121,2010,2,11539336,2585,-5311
36,2010,Oklahoma,9.9,26.9,26.2,16.3,12.9,5.8,2.0,123.6,...,15.1,7.5,62.732,1089,1090,2010,3,3759944,8362,2760
37,2010,Oregon,2.7,3.1,8.8,16.5,32.5,25.9,10.5,253.3,...,18.2,10.1,70.418,1577,2509,2010,4,3837491,6412,2560
38,2010,Pennsylvania,5.0,15.7,17.2,17.3,22.7,16.1,6.0,182.1,...,18.7,12.0,72.891,1390,2595,2010,1,12711160,8292,3742
39,2010,Rhode Island,1.6,1.4,6.0,18.2,36.4,26.6,9.9,258.1,...,20.5,14.9,79.813,1837,3815,2010,1,1053959,995,493
40,2010,South Carolina,7.8,18.4,22.3,17.8,17.1,10.7,5.9,153.4,...,15.3,8.0,62.767,1177,867,2010,3,4635649,10283,5650
41,2010,South Dakota,9.4,17.4,24.9,20.7,16.3,8.8,2.6,146.8,...,15.9,6.6,68.243,1151,1927,2010,2,816166,1968,856
42,2010,Tennessee,6.0,20.3,25.1,17.9,16.2,10.3,4.1,147.0,...,14.3,8.4,61.581,1161,1080,2010,3,6355311,9035,3830
43,2010,Texas,5.9,21.4,25.2,18.6,15.8,9.2,3.9,144.7,...,19.4,13.9,74.935,1402,2997,2010,3,25241971,95880,42957
44,2010,Utah,2.3,3.0,13.3,23.1,33.1,18.9,6.3,220.9,...,19.2,8.4,71.038,1433,1426,2010,4,2775332,11441,1418
45,2010,Vermont,2.9,5.7,12.0,22.0,30.6,19.5,7.3,222.9,...,16.6,9.2,68.698,1445,3588,2010,1,625879,142,-125
46,2010,Virginia,2.6,5.2,9.7,14.1,24.8,26.1,17.4,271.5,...,21.7,20.8,87.012,1728,2158,2010,3,8023699,22650,11264
47,2010,Washington,1.9,2.7,7.7,13.7,29.6,29.3,15.1,280.0,...,21.6,14.2,80.240,1736,2737,2010,4,6742830,18290,8181
48,2010,West Virginia,12.4,30.4,20.3,15.8,14.1,5.8,1.3,116.0,...,14.0,5.1,59.593,918,648,2010,3,1854239,1221,1404
49,2010,Wisconsin,2.8,12.6,21.4,22.4,24.5,12.4,3.8,175.6,...,18.3,8.5,71.063,1404,3244,2010,2,5690475,3190,-2286
50,2010,Wyoming,5.4,7.5,17.6,23.0,27.2,13.1,6.2,191.6,...,22.0,9.4,74.260,1300,1189,2010,4,564487,712,-56
51,2010,Puerto Rico,1.3,22.7,31.6,21.2,14.1,6.5,2.6,140.1,...,6.0,3.0,37.217,851,773,2010,X,3721525,-4632,-7097

In [10]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)
df.head()

,Year,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Year_y,Region,Population,Net Population Change,Net Migration
0,2010,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,15.6,8.7,61.964,1130,568,2010,3,4785437,5312,2168
1,2010,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,27.3,19.1,94.747,1772,3177,2010,4,713910,3661,1598
2,2010,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,17.2,10.2,66.539,1442,1489,2010,4,6407172,14884,5672
3,2010,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,14.1,7.1,59.393,987,703,2010,3,2921964,5933,3270
4,2010,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,22.1,21.2,88.444,2242,3284,2010,4,37319502,64983,-721

In [11]:
# Delete Year_y column 
del df['Year_y']

In [12]:
df.head()

,Year,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Region,Population,Net Population Change,Net Migration
0,2010,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,15.6,15.6,8.7,61.964,1130,568,3,4785437,5312,2168
1,2010,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,17.0,27.3,19.1,94.747,1772,3177,4,713910,3661,1598
2,2010,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,16.2,17.2,10.2,66.539,1442,1489,4,6407172,14884,5672
3,2010,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,15.1,14.1,7.1,59.393,987,703,3,2921964,5933,3270
4,2010,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,15.9,22.1,21.2,88.444,2242,3284,4,37319502,64983,-721

In [13]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2010.csv"
df.to_csv(file_path, index=False)