In [1]:
# Import our dependencies
import pandas as pd

In [2]:
# Read in our data
census_2010 = pd.read_csv("../Resources/clean_data/Cost/census_2010.csv")
census_2010.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2010,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,10.4,8.7,15.5,21.7,15.6,15.6,8.7,61.964,1130,568
1,2010,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,4.0,5.1,8.4,17.8,17.0,27.3,19.1,94.747,1772,3177
2,2010,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,8.8,8.2,14.1,22.6,16.2,17.2,10.2,66.539,1442,1489
3,2010,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,10.9,10.6,16.8,22.8,15.1,14.1,7.1,59.393,987,703
4,2010,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,5.9,5.2,10.0,17.7,15.9,22.1,21.2,88.444,2242,3284

In [3]:
# Read in our data
census_2011 = pd.read_csv("../Resources/clean_data/Cost/census_2011.csv")
census_2011.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2011,Alabama,8.7,22.4,22.2,18.5,16.2,8.7,3.4,142.2,...,10.5,8.6,14.1,21.7,16.9,16.4,8.7,65.045,1134,585
1,2011,Alaska,2.0,2.9,6.2,17.6,36.3,27.7,7.3,255.0,...,3.7,3.0,8.6,17.9,19.7,26.3,20.2,94.966,1794,3074
2,2011,Arizona,5.2,18.0,21.7,18.0,18.1,13.2,5.9,161.1,...,9.4,8.2,14.2,21.1,15.5,17.4,10.9,66.790,1365,1434
3,2011,Arkansas,11.0,29.6,22.0,16.0,12.5,6.7,2.1,120.7,...,11.0,9.1,16.1,22.6,15.2,15.2,7.4,60.340,988,732
4,2011,California,1.6,3.8,7.0,9.0,17.9,28.5,32.2,363.6,...,6.0,5.3,9.8,17.3,15.3,21.6,22.3,89.279,2182,3291

In [4]:
# Read in our data
census_2012 = pd.read_csv("../Resources/clean_data/Cost/census_2012.csv")
census_2012.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2012,Alabama,8.5,23.0,21.7,17.9,16.8,9.0,3.2,142.6,...,9.8,8.9,13.7,21.5,17.1,16.7,9.0,65.297,1104,597
1,2012,Alaska,2.3,2.7,7.4,14.3,38.1,28.9,6.3,260.4,...,4.5,4.4,8.3,16.5,18.8,24.4,21.8,94.352,1831,3098
2,2012,Arizona,5.7,18.3,21.9,17.0,18.3,12.9,5.9,159.7,...,8.1,8.0,13.4,22.0,15.4,18.4,11.9,69.604,1320,1393
3,2012,Arkansas,11.0,28.7,22.6,16.1,13.1,6.2,2.1,121.3,...,10.6,9.9,14.5,23.5,15.9,15.4,7.4,61.204,975,762
4,2012,California,1.7,4.1,7.2,9.3,18.0,28.5,31.3,358.1,...,5.7,5.2,9.6,17.1,15.2,21.8,23.2,91.024,2119,3336

In [5]:
# Read in our data
census_2013 = pd.read_csv("../Resources/clean_data/Cost/census_2013.csv")
census_2013.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2013,Alabama,9.0,22.2,22.3,17.4,16.7,9.3,3.1,141.4,...,9.5,8.1,14.5,22.1,16.0,16.8,9.9,65.890,1093,595
1,2013,Alaska,1.9,2.5,6.5,15.4,36.4,30.4,6.8,266.8,...,4.3,2.9,7.5,16.1,18.0,27.4,22.9,100.319,1746,3175
2,2013,Arizona,5.4,13.2,19.4,18.5,21.4,15.3,6.9,178.2,...,8.3,7.5,13.3,20.7,15.8,18.3,13.1,71.112,1277,1394
3,2013,Arkansas,11.3,26.7,23.8,16.2,13.3,6.3,2.4,124.7,...,10.7,9.2,14.9,21.9,15.5,16.1,8.6,62.241,979,800
4,2013,California,2.8,3.2,5.7,8.0,16.3,29.2,34.9,383.2,...,5.6,5.0,9.1,16.8,14.8,21.7,25.0,93.538,2059,3412

In [6]:
# Read in our data
census_2014 = pd.read_csv("../Resources/clean_data/Cost/census_2014.csv")
census_2014.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($)
0,2014,Alabama,8.8,21.6,21.5,17.2,18.2,9.7,3.0,145.7,...,9.9,8.2,14.0,20.9,15.3,18.0,10.5,66.546,1119,603
1,2014,Alaska,2.6,2.5,5.7,15.4,35.6,30.9,7.4,268.7,...,3.0,2.7,7.3,18.1,15.5,28.6,23.4,102.659,1797,3260
2,2014,Arizona,4.9,11.0,16.7,19.0,22.4,17.7,8.3,194.9,...,7.6,7.6,12.7,20.7,15.3,18.6,14.6,72.609,1273,1401
3,2014,Arkansas,10.4,26.2,23.4,17.2,13.6,6.9,2.4,128.2,...,9.7,9.2,15.7,21.6,15.6,16.5,9.2,63.705,995,835
4,2014,California,2.7,2.1,4.1,6.2,14.7,30.0,40.2,427.7,...,5.4,5.0,8.5,16.0,14.8,21.8,26.4,96.305,2068,3548

In [7]:
# Read in our data
census_2015 = pd.read_csv("../Resources/clean_data/Cost/census_2015.csv")
census_2015.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
0,2015,Alabama,6.5,21.6,57.3,10.7,2.5,0.8,0.6,151.8,...,2.8,8.8,7.5,12.8,21.8,16.3,18.1,11.8,70.359,0.1
1,2015,Alaska,1.5,2.3,54.6,33.0,6.7,1.4,0.4,276.1,...,1.2,2.9,3.2,8.7,16.4,16.7,25.7,25.1,100.776,0.0
2,2015,Arizona,2.7,9.1,60.0,19.2,5.7,1.7,1.5,211.6,...,3.1,7.3,7.0,12.2,20.6,16.1,18.6,15.0,74.562,0.1
3,2015,Arkansas,7.7,23.9,57.1,7.9,2.1,0.7,0.6,135.9,...,3.0,9.5,9.3,14.3,21.7,15.5,16.5,10.2,65.687,0.2
4,2015,California,1.1,1.7,22.2,30.5,22.0,10.7,11.9,462.0,...,2.0,5.1,4.6,8.2,15.4,14.5,22.2,28.0,100.223,0.0

In [8]:
# Read in our data
census_2016 = pd.read_csv("../Resources/clean_data/Cost/census_2016.csv")
census_2016.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
0,2016,Alabama,6.6,19.7,58.8,11.0,2.4,0.9,0.6,153.9,...,3.1,8.8,7.5,11.9,19.8,17.5,18.3,13.1,73.126,0.1
1,2016,Alaska,2.0,2.4,49.7,36.0,7.7,1.5,0.6,286.6,...,1.6,2.8,3.1,6.6,16.3,14.5,29.2,25.9,106.840,0.0
2,2016,Arizona,2.6,7.4,60.0,21.2,5.6,1.8,1.4,222.9,...,2.9,7.0,6.5,11.7,20.1,16.4,19.2,16.1,77.219,0.1
3,2016,Arkansas,7.3,23.3,57.8,8.6,1.8,0.7,0.5,139.7,...,2.4,8.1,8.0,14.0,22.2,16.1,17.9,11.2,69.016,0.2
4,2016,California,1.1,1.4,19.4,29.4,23.1,12.0,13.7,491.1,...,2.0,4.7,4.2,7.8,14.8,14.1,21.8,30.6,103.266,0.0

In [9]:
# Read in our data
census_2017 = pd.read_csv("../Resources/clean_data/Cost/census_2017.csv")
census_2017.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
0,2017,Alabama,6.4,19.1,58.5,11.6,3.0,0.8,0.7,158.0,...,2.8,7.8,7.2,11.8,20.8,16.2,20.6,13.0,74.553,0.2
1,2017,Alaska,2.3,1.9,49.9,36.4,7.4,1.4,0.5,286.9,...,1.8,3.1,3.8,7.1,14.9,16.4,26.8,26.1,103.942,0.0
2,2017,Arizona,2.4,5.5,58.1,23.8,6.7,2.0,1.4,238.8,...,2.7,6.5,6.3,11.3,19.0,16.1,20.7,17.3,80.853,0.1
3,2017,Arkansas,7.0,22.3,59.1,8.7,1.7,0.7,0.4,142.8,...,3.0,8.1,7.3,12.9,21.5,16.9,17.8,12.5,71.081,0.3
4,2017,California,1.0,1.1,16.6,28.5,24.6,13.1,15.2,529.0,...,1.9,4.5,3.9,7.2,13.8,13.6,22.6,32.5,108.609,0.0

In [10]:
# Read in our data
census_2018 = pd.read_csv("../Resources/clean_data/Cost/census_2018.csv")
census_2018.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
0,2018,Alaska,1.3,2.4,49.0,36.6,8.2,1.8,0.7,292.6,...,1.5,4.4,3.0,5.6,16.1,15.2,27.6,26.6,105.294,0.1
1,2018,Maine,3.4,9.1,62.4,18.8,4.1,1.1,1.0,208.3,...,2.0,5.7,5.5,11.3,20.1,18.4,22.2,14.8,81.392,0.0
2,2018,North Carolina,2.9,11.7,58.1,19.0,5.4,1.8,1.2,199.6,...,2.1,6.5,6.0,11.4,19.0,16.5,20.6,17.9,81.504,0.0
3,2018,Missouri,4.9,15.4,60.7,13.7,3.5,1.0,0.8,170.8,...,1.9,5.5,6.2,11.3,19.5,17.1,21.5,16.9,81.877,0.2
4,2018,Pennsylvania,3.4,11.9,57.6,19.2,5.5,1.4,1.0,202.0,...,1.9,5.3,4.9,9.3,17.9,16.5,23.0,21.2,90.755,0.1

In [11]:
# Combine all the dfs
census = pd.concat([census_2010, census_2011, census_2012, census_2013, census_2014, census_2015, census_2016, census_2017, census_2018], sort=True)
census

,2nd Mortgage Only (%),2nd Mortgage or Equity Loan (%),Both 2nd & Equity Loan (%),Equity Loan Only (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Home Value $50k-$90k (%),...,"Income $50k-$74,999 (%)","Income $75k-$99,999 (%)",Income <$10k (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),Median Income ($)(1000X),Median Real Estate Taxes ($),No 2nd or Equity Loan (%),State,Year
0,4.9,17.2,0.6,12.3,20.3,17.8,16.8,8.7,3.7,23.6,...,21.7,15.6,3.9,142.7,1130.0,61.964,568.0,82.3,Alabama,2010
1,4.5,14.9,0.7,10.4,9.6,15.6,35.2,26.5,8.1,2.9,...,17.8,17.0,1.2,255.7,1772.0,94.747,3177.0,84.4,Alaska,2010
2,5.8,21.8,0.8,16.0,20.5,19.5,21.4,14.4,6.8,13.4,...,22.6,16.2,2.8,177.0,1442.0,66.539,1489.0,77.4,Arizona,2010
3,4.1,10.5,0.2,6.4,23.9,16.2,12.2,6.4,2.1,27.0,...,22.8,15.1,2.8,122.6,987.0,59.393,703.0,89.3,Arkansas,2010
4,7.6,26.3,1.6,18.6,6.0,8.6,17.4,29.1,34.0,3.4,...,17.7,15.9,2.1,377.7,2242.0,88.444,3284.0,72.2,California,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,2.0,10.5,0.4,8.5,55.1,24.6,6.8,2.3,2.3,6.4,...,18.5,15.6,2.8,247.0,0.1,80.372,NaN,89.1,Florida,2018
48,2.3,18.1,0.5,15.8,26.7,36.2,21.5,7.5,6.4,0.8,...,13.0,13.0,1.3,406.9,0.0,121.565,NaN,81.5,Massachusetts,2018
49,3.3,15.6,0.2,12.3,8.9,27.1,24.9,18.4,19.4,0.6,...,9.0,10.2,2.2,627.0,0.0,151.147,NaN,84.2,District of Columbia,2018
50,3.7,14.7,0.6,11.0,44.5,37.5,10.4,2.8,1.7,1.2,...,19.1,18.3,1.0,310.0,0.0,93.060,NaN,84.7,Utah,2018
51,1.5,13.8,0.4,12.2,34.6,23.8,15.9,7.5,8.0,8.0,...,14.3,14.2,1.7,341.9,0.1,108.546,NaN,85.8,New York,2018

In [12]:
# Reset the index
census.reset_index(drop=True, inplace=True)
census

,2nd Mortgage Only (%),2nd Mortgage or Equity Loan (%),Both 2nd & Equity Loan (%),Equity Loan Only (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Home Value $50k-$90k (%),...,"Income $50k-$74,999 (%)","Income $75k-$99,999 (%)",Income <$10k (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),Median Income ($)(1000X),Median Real Estate Taxes ($),No 2nd or Equity Loan (%),State,Year
0,4.9,17.2,0.6,12.3,20.3,17.8,16.8,8.7,3.7,23.6,...,21.7,15.6,3.9,142.7,1130.0,61.964,568.0,82.3,Alabama,2010
1,4.5,14.9,0.7,10.4,9.6,15.6,35.2,26.5,8.1,2.9,...,17.8,17.0,1.2,255.7,1772.0,94.747,3177.0,84.4,Alaska,2010
2,5.8,21.8,0.8,16.0,20.5,19.5,21.4,14.4,6.8,13.4,...,22.6,16.2,2.8,177.0,1442.0,66.539,1489.0,77.4,Arizona,2010
3,4.1,10.5,0.2,6.4,23.9,16.2,12.2,6.4,2.1,27.0,...,22.8,15.1,2.8,122.6,987.0,59.393,703.0,89.3,Arkansas,2010
4,7.6,26.3,1.6,18.6,6.0,8.6,17.4,29.1,34.0,3.4,...,17.7,15.9,2.1,377.7,2242.0,88.444,3284.0,72.2,California,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2.0,10.5,0.4,8.5,55.1,24.6,6.8,2.3,2.3,6.4,...,18.5,15.6,2.8,247.0,0.1,80.372,NaN,89.1,Florida,2018
464,2.3,18.1,0.5,15.8,26.7,36.2,21.5,7.5,6.4,0.8,...,13.0,13.0,1.3,406.9,0.0,121.565,NaN,81.5,Massachusetts,2018
465,3.3,15.6,0.2,12.3,8.9,27.1,24.9,18.4,19.4,0.6,...,9.0,10.2,2.2,627.0,0.0,151.147,NaN,84.2,District of Columbia,2018
466,3.7,14.7,0.6,11.0,44.5,37.5,10.4,2.8,1.7,1.2,...,19.1,18.3,1.0,310.0,0.0,93.060,NaN,84.7,Utah,2018
467,1.5,13.8,0.4,12.2,34.6,23.8,15.9,7.5,8.0,8.0,...,14.3,14.2,1.7,341.9,0.1,108.546,NaN,85.8,New York,2018

In [13]:
# Saving cleaned data
file_path = "../Resources/clean_data/Cost/Census.csv"
census.to_csv(file_path, index=False)