In [1]:
# Import our dependencies
import pandas as pd

In [2]:
# Read in our data
df = pd.read_csv("../Resources/data/zillow_data.csv")
df

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,9,California,1,161327.0,161154.0,161021.0,160947.0,160952.0,161001.0,161175.0,...,553549,554281,555050,556081,557569,559533,561558,563566,566414,569687
1,54,Texas,2,97784.0,97925.0,98042.0,98133.0,98248.0,98399.0,98573.0,...,205282,205858,206453,207116,207728,208377,208811,209229,209497,209818
2,43,New York,3,119346.0,119247.0,119181.0,119101.0,119024.0,118981.0,118987.0,...,266347,267093,267665,268153,268581,269000,269501,270068,270732,271319
3,14,Florida,4,103686.0,103906.0,104147.0,104377.0,104583.0,104728.0,104881.0,...,253110,253543,254131,254842,255523,256220,256984,257787,258531,259483
4,21,Illinois,5,138628.0,138108.0,137798.0,137369.0,137823.0,138524.0,139985.0,...,203233,203557,203801,204112,204340,204447,204494,204530,204656,204859
5,47,Pennsylvania,6,95385.0,95294.0,95253.0,95222.0,95266.0,95298.0,95383.0,...,189778,190276,191021,191788,192531,193192,193868,194494,195124,195692
6,44,Ohio,7,92231.0,92549.0,92842.0,93098.0,93385.0,93682.0,93984.0,...,146242,146814,147449,148172,148882,149619,150312,150921,151528,152212
7,30,Michigan,8,89356.0,89996.0,90650.0,91242.0,91790.0,92297.0,92797.0,...,164805,165493,166186,166946,167619,168339,169033,169806,170458,171168
8,16,Georgia,9,102817.0,103162.0,103527.0,103865.0,104207.0,104542.0,104907.0,...,195899,196838,197627,198395,199215,199989,200724,201313,201944,202653
9,36,North Carolina,10,110371.0,110761.0,111203.0,111670.0,112127.0,112526.0,113001.0,...,198446,199315,200175,200978,201794,202606,203464,204262,205009,205670
10,40,New Jersey,11,165200.0,164863.0,164561.0,164347.0,164288.0,164328.0,164429.0,...,341575,342123,342706,343444,343976,344315,344688,345131,345903,346768
11,56,Virginia,12,120854.0,120810.0,120753.0,120711.0,120778.0,120898.0,121071.0,...,280990,281769,282583,283455,284448,285488,286479,287178,287736,288217
12,59,Washington,13,142184.0,142320.0,142665.0,143067.0,143554.0,143955.0,144445.0,...,405304,406476,408045,410050,412230,414329,416405,418849,421749,424869
13,26,Massachusetts,14,158754.0,158990.0,159235.0,159602.0,160100.0,160576.0,161153.0,...,424479,425053,425512,425839,426647,427894,429387,430752,432087,433906
14,22,Indiana,15,107588.0,107387.0,107553.0,107648.0,107425.0,107286.0,106401.0,...,150643,151329,151988,152626,153277,154064,154905,155618,156184,156726
15,8,Arizona,16,111782.0,112398.0,112954.0,113467.0,113937.0,114387.0,114839.0,...,265447,266608,267821,269192,270820,272213,273751,275326,277315,279153
16,53,Tennessee,17,90275.0,90713.0,91162.0,91626.0,92076.0,92464.0,92818.0,...,178976,179765,180504,181208,181967,182799,183682,184622,185548,186471
17,32,Missouri,18,83138.0,83397.0,83634.0,83844.0,84075.0,84335.0,84661.0,...,160191,160747,161340,161897,162348,162859,163382,163920,164367,164783
18,27,Maryland,19,153782.0,153927.0,154046.0,154108.0,154074.0,154132.0,154226.0,...,318028,318369,318693,319099,319561,320059,320518,320701,320905,321199
19,60,Wisconsin,20,100353.0,100715.0,101222.0,101728.0,102215.0,102631.0,103051.0,...,196439,197147,197927,198759,199699,200572,201541,202457,203434,204363
20,31,Minnesota,21,104073.0,104148.0,104376.0,104626.0,105008.0,105345.0,105761.0,...,254695,255513,256533,257576,258466,259447,260398,261339,262187,262967
21,10,Colorado,22,143663.0,144344.0,145021.0,145676.0,146354.0,147005.0,147623.0,...,402264,402730,403432,404382,405565,406760,407745,408622,409850,411607
22,4,Alabama,23,82361.0,82425.0,82526.0,82666.0,82874.0,82999.0,83121.0,...,135117,135611,136150,136696,137253,137792,138389,139028,139739,140453
23,51,South Carolina,24,96714.0,96863.0,97115.0,97264.0,97451.0,97541.0,97749.0,...,184500,185106,185788,186484,187136,187763,188436,189039,189624,190130
24,25,Louisiana,25,84383.0,84672.0,84935.0,85098.0,85406.0,85687.0,86066.0,...,166450,166738,166974,167272,167422,167638,167806,168168,168686,169218
25,24,Kentucky,26,75896.0,76152.0,76414.0,76674.0,76946.0,77213.0,77446.0,...,142776,143419,144074,144681,145319,145992,146697,147409,148092,148711
26,46,Oregon,27,132324.0,133144.0,133975.0,134809.0,135604.0,136361.0,137199.0,...,359985,360627,361515,362312,363357,364409,365862,366925,368045,369141
27,45,Oklahoma,28,64651.0,64919.0,65118.0,65320.0,65490.0,65647.0,65791.0,...,126814,127178,127690,128267,128854,129382,129870,130448,131022,131764
28,11,Connecticut,29,156109.0,156232.0,156292.0,156366.0,156598.0,156469.0,156328.0,...,268654,268791,268829,268871,268833,269073,269328,269729,270015,270855
29,19,Iowa,30,80582.0,80812.0,81017.0,81171.0,81347.0,81506.0,81780.0,...,152178,152528,153024,153526,154013,154385,154777,155165,155527,155879
30,34,Mississippi,31,73411.0,73561.0,73692.0,73876.0,74016.0,74140.0,74418.0,...,123373,123803,124211,124593,125009,125366,125755,126146,126593,127046
31,6,Arkansas,32,68504.0,68630.0,68744.0,68895.0,69061.0,69221.0,69399.0,...,125684,126098,126559,126976,127439,127867,128325,128655,128931,129202
32,23,Kansas,33,76551.0,76725.0,76893.0,77031.0,77232.0,77396.0,77621.0,...,147975,148469,149026,149657,150267,150777,151230,151529,151880,152237
33,55,Utah,34,161812.0,162453.0,162964.0,163451.0,163839.0,164267.0,164679.0,...,344590,345886,347432,348989,350793,352530,354002,355358,356585,358287
34,42,Nevada,35,162180.0,162454.0,162618.0,162879.0,163355.0,163870.0,164353.0,...,313046,313596,313303,312600,311915,311923,312686,313885,314800,316007
35,41,New Mexico,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,199125,199997,201034,202279,203397,204472,205092,205772,206472,207338
36,61,West Virginia,37,61527.0,61531.0,61543.0,61546.0,61527.0,61456.0,61419.0,...,105525,105904,106267,106632,106983,107275,107544,107622,107706,107764
37,38,Nebraska,38,84158.0,84487.0,84869.0,85253.0,85655.0,86014.0,86408.0,...,170928,171640,172317,173106,173904,174651,175326,175907,176411,176992
38,20,Idaho,39,122478.0,122350.0,122189.0,122043.0,122010.0,122016.0,122086.0,...,272281,274188,275714,277339,279537,281903,284298,286204,288330,290420
39,18,Hawaii,40,259097.0,256779.0,254181.0,251632.0,249915.0,248597.0,247322.0,...,721844,721800,721811,721916,721760,721457,721450,721283,721224,721212
40,28,Maine,41,96716.0,96356.0,95990.0,95730.0,95552.0,95482.0,95535.0,...,231239,232110,233034,233879,234871,236098,237585,239210,240865,242879
41,39,New Hampshire,42,109546.0,109598.0,109835.0,110192.0,110474.0,110723.0,111002.0,...,294878,296065,297197,298338,298888,299682,300556,301827,303038,304314
42,50,Rhode Island,43,127522.0,127364.0,127099.0,126855.0,126784.0,126966.0,127150.0,...,299190,299788,300372,301261,301936,302738,303712,305131,306480,307901
43,35,Montana,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,273178,273972,274925,275876,277486,278855,280284,281364,282772,284257
44,13,Delaware,45,131660.0,131782.0,132055.0,132526.0,132909.0,133387.0,133825.0,...,257812,257901,258111,258249,258421,258534,258391,258095,257917,257724
45,52,South Dakota,46,84686.0,84480.0,84501.0,84532.0,84555.0,84611.0,84634.0,...,202275,202806,203338,203834,204425,204964,205506,206040,206710,207429
46,3,Alaska,47,128544.0,129199.0,129806.0,130282.0,130656.0,130895.0,130935.0,...,315348,316390,317155,317248,318312,318833,317727,316519,315896,316725
47,37,North Dakota,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,238731,239049,239657,240043,240484,240915,241440,241749,241974,242006
48,58,Vermont,49,109419.0,109234.0,108958.0,108657.0,108433.0,108357.0,108497.0,...,258799,259621,260743,261632,262537,263072,263665,264277,264918,265675
49,12,District of Columbia,50,192117.0,191001.0,190189.0,189482.0,188843.0,188457.0,187906.0,...,729939,735058,735561,735338,736815,738254,739700,740317,741657,743776
50,62,Wyoming,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,241865,243275,244555,245930,247233,248490,249725,250797,252001,253148

In [3]:
# Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column RegionID has 0 null values
Column RegionName has 0 null values
Column SizeRank has 0 null values
Column 1996-04 has 4 null values
Column 1996-05 has 4 null values
Column 1996-06 has 4 null values
Column 1996-07 has 4 null values
Column 1996-08 has 4 null values
Column 1996-09 has 4 null values
Column 1996-10 has 4 null values
Column 1996-11 has 4 null values
Column 1996-12 has 4 null values
Column 1997-01 has 4 null values
Column 1997-02 has 4 null values
Column 1997-03 has 4 null values
Column 1997-04 has 4 null values
Column 1997-05 has 4 null values
Column 1997-06 has 4 null values
Column 1997-07 has 4 null values
Column 1997-08 has 4 null values
Column 1997-09 has 4 null values
Column 1997-10 has 4 null values
Column 1997-11 has 4 null values
Column 1997-12 has 4 null values
Column 1998-01 has 4 null values
Column 1998-02 has 4 null values
Column 1998-03 has 4 null values
Column 1998-04 has 2 null values
Column 1998-05 has 2 null values
Column 1998-06 has 2 null values
Column 1998-07 has 2 null values
Column 1998-08 has 2 null values
Column 1998-09 has 2 null values
Column 1998-10 has 2 null values
Column 1998-11 has 2 null values
Column 1998-12 has 2 null values
Column 1999-01 has 2 null values
Column 1999-02 has 2 null values
Column 1999-03 has 2 null values
Column 1999-04 has 2 null values
Column 1999-05 has 2 null values
Column 1999-06 has 2 null values
Column 1999-07 has 2 null values
Column 1999-08 has 2 null values
Column 1999-09 has 2 null values
Column 1999-10 has 2 null values
Column 1999-11 has 2 null values
Column 1999-12 has 2 null values
Column 2000-01 has 2 null values
Column 2000-02 has 2 null values
Column 2000-03 has 2 null values
Column 2000-04 has 2 null values
Column 2000-05 has 2 null values
Column 2000-06 has 2 null values
Column 2000-07 has 2 null values
Column 2000-08 has 2 null values
Column 2000-09 has 2 null values
Column 2000-10 has 2 null values
Column 2000-11 has 2 null values
Column 2000-12 has 2 null values
Column 2001-01 has 2 null values
Column 2001-02 has 1 null values
Column 2001-03 has 1 null values
Column 2001-04 has 1 null values
Column 2001-05 has 1 null values
Column 2001-06 has 1 null values
Column 2001-07 has 1 null values
Column 2001-08 has 1 null values
Column 2001-09 has 1 null values
Column 2001-10 has 1 null values
Column 2001-11 has 1 null values
Column 2001-12 has 1 null values
Column 2002-01 has 1 null values
Column 2002-02 has 1 null values
Column 2002-03 has 1 null values
Column 2002-04 has 1 null values
Column 2002-05 has 1 null values
Column 2002-06 has 1 null values
Column 2002-07 has 1 null values
Column 2002-08 has 1 null values
Column 2002-09 has 1 null values
Column 2002-10 has 1 null values
Column 2002-11 has 1 null values
Column 2002-12 has 1 null values
Column 2003-01 has 1 null values
Column 2003-02 has 1 null values
Column 2003-03 has 1 null values
Column 2003-04 has 1 null values
Column 2003-05 has 1 null values
Column 2003-06 has 1 null values
Column 2003-07 has 1 null values
Column 2003-08 has 1 null values
Column 2003-09 has 1 null values
Column 2003-10 has 1 null values
Column 2003-11 has 1 null values
Column 2003-12 has 1 null values
Column 2004-01 has 1 null values
Column 2004-02 has 1 null values
Column 2004-03 has 1 null values
Column 2004-04 has 1 null values
Column 2004-05 has 1 null values
Column 2004-06 has 1 null values
Column 2004-07 has 1 null values
Column 2004-08 has 1 null values
Column 2004-09 has 1 null values
Column 2004-10 has 1 null values
Column 2004-11 has 1 null values
Column 2004-12 has 1 null values
Column 2005-01 has 0 null values
Column 2005-02 has 0 null values
Column 2005-03 has 0 null values
Column 2005-04 has 0 null values
Column 2005-05 has 0 null values
Column 2005-06 has 0 null values
Column 2005-07 has 0 null values
Column 2005-08 has 0 null values
Column 2005-09 has 0 null values
Column 2005-10 has 0 null values
Column 2005-11 has 0 null values
Column 2005-12 has 0 null values
Column 2006-01 has 0 null values
Column 2006-02 has 0 null values
Column 2006-03 has 0 null values
Column 2006-04 has 0 null values
Column 2006-05 has 0 null values
Column 2006-06 has 0 null values
Column 2006-07 has 0 null values
Column 2006-08 has 0 null values
Column 2006-09 has 0 null values
Column 2006-10 has 0 null values
Column 2006-11 has 0 null values
Column 2006-12 has 0 null values
Column 2007-01 has 0 null values
Column 2007-02 has 0 null values
Column 2007-03 has 0 null values
Column 2007-04 has 0 null values
Column 2007-05 has 0 null values
Column 2007-06 has 0 null values
Column 2007-07 has 0 null values
Column 2007-08 has 0 null values
Column 2007-09 has 0 null values
Column 2007-10 has 0 null values
Column 2007-11 has 0 null values
Column 2007-12 has 0 null values
Column 2008-01 has 0 null values
Column 2008-02 has 0 null values
Column 2008-03 has 0 null values
Column 2008-04 has 0 null values
Column 2008-05 has 0 null values
Column 2008-06 has 0 null values
Column 2008-07 has 0 null values
Column 2008-08 has 0 null values
Column 2008-09 has 0 null values
Column 2008-10 has 0 null values
Column 2008-11 has 0 null values
Column 2008-12 has 0 null values
Column 2009-01 has 0 null values
Column 2009-02 has 0 null values
Column 2009-03 has 0 null values
Column 2009-04 has 0 null values
Column 2009-05 has 0 null values
Column 2009-06 has 0 null values
Column 2009-07 has 0 null values
Column 2009-08 has 0 null values
Column 2009-09 has 0 null values
Column 2009-10 has 0 null values
Column 2009-11 has 0 null values
Column 2009-12 has 0 null values
Column 2010-01 has 0 null values
Column 2010-02 has 0 null values
Column 2010-03 has 0 null values
Column 2010-04 has 0 null values
Column 2010-05 has 0 null values
Column 2010-06 has 0 null values
Column 2010-07 has 0 null values
Column 2010-08 has 0 null values
Column 2010-09 has 0 null values
Column 2010-10 has 0 null values
Column 2010-11 has 0 null values
Column 2010-12 has 0 null values
Column 2011-01 has 0 null values
Column 2011-02 has 0 null values
Column 2011-03 has 0 null values
Column 2011-04 has 0 null values
Column 2011-05 has 0 null values
Column 2011-06 has 0 null values
Column 2011-07 has 0 null values
Column 2011-08 has 0 null values
Column 2011-09 has 0 null values
Column 2011-10 has 0 null values
Column 2011-11 has 0 null values
Column 2011-12 has 0 null values
Column 2012-01 has 0 null values
Column 2012-02 has 0 null values
Column 2012-03 has 0 null values
Column 2012-04 has 0 null values
Column 2012-05 has 0 null values
Column 2012-06 has 0 null values
Column 2012-07 has 0 null values
Column 2012-08 has 0 null values
Column 2012-09 has 0 null values
Column 2012-10 has 0 null values
Column 2012-11 has 0 null values
Column 2012-12 has 0 null values
Column 2013-01 has 0 null values
Column 2013-02 has 0 null values
Column 2013-03 has 0 null values
Column 2013-04 has 0 null values
Column 2013-05 has 0 null values
Column 2013-06 has 0 null values
Column 2013-07 has 0 null values
Column 2013-08 has 0 null values
Column 2013-09 has 0 null values
Column 2013-10 has 0 null values
Column 2013-11 has 0 null values
Column 2013-12 has 0 null values
Column 2014-01 has 0 null values
Column 2014-02 has 0 null values
Column 2014-03 has 0 null values
Column 2014-04 has 0 null values
Column 2014-05 has 0 null values
Column 2014-06 has 0 null values
Column 2014-07 has 0 null values
Column 2014-08 has 0 null values
Column 2014-09 has 0 null values
Column 2014-10 has 0 null values
Column 2014-11 has 0 null values
Column 2014-12 has 0 null values
Column 2015-01 has 0 null values
Column 2015-02 has 0 null values
Column 2015-03 has 0 null values
Column 2015-04 has 0 null values
Column 2015-05 has 0 null values
Column 2015-06 has 0 null values
Column 2015-07 has 0 null values
Column 2015-08 has 0 null values
Column 2015-09 has 0 null values
Column 2015-10 has 0 null values
Column 2015-11 has 0 null values
Column 2015-12 has 0 null values
Column 2016-01 has 0 null values
Column 2016-02 has 0 null values
Column 2016-03 has 0 null values
Column 2016-04 has 0 null values
Column 2016-05 has 0 null values
Column 2016-06 has 0 null values
Column 2016-07 has 0 null values
Column 2016-08 has 0 null values
Column 2016-09 has 0 null values
Column 2016-10 has 0 null values
Column 2016-11 has 0 null values
Column 2016-12 has 0 null values
Column 2017-01 has 0 null values
Column 2017-02 has 0 null values
Column 2017-03 has 0 null values
Column 2017-04 has 0 null values
Column 2017-05 has 0 null values
Column 2017-06 has 0 null values
Column 2017-07 has 0 null values
Column 2017-08 has 0 null values
Column 2017-09 has 0 null values
Column 2017-10 has 0 null values
Column 2017-11 has 0 null values
Column 2017-12 has 0 null values
Column 2018-01 has 0 null values
Column 2018-02 has 0 null values
Column 2018-03 has 0 null values
Column 2018-04 has 0 null values
Column 2018-05 has 0 null values
Column 2018-06 has 0 null values
Column 2018-07 has 0 null values
Column 2018-08 has 0 null values
Column 2018-09 has 0 null values
Column 2018-10 has 0 null values
Column 2018-11 has 0 null values
Column 2018-12 has 0 null values
Column 2019-01 has 0 null values
Column 2019-02 has 0 null values
Column 2019-03 has 0 null values
Column 2019-04 has 0 null values

Column 2019-05 has 0 null values
Column 2019-06 has 0 null values
Column 2019-07 has 0 null values
Column 2019-08 has 0 null values
Column 2019-09 has 0 null values
Column 2019-10 has 0 null values
Column 2019-11 has 0 null values
Column 2019-12 has 0 null values
Column 2020-01 has 0 null values

In [4]:
# Find duplicate entries
print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

In [5]:
list(df.columns.values)

['RegionID',
 'RegionName',
 'SizeRank',
 '1996-04',
 '1996-05',
 '1996-06',
 '1996-07',
 '1996-08',
 '1996-09',
 '1996-10',
 '1996-11',
 '1996-12',
 '1997-01',
 '1997-02',
 '1997-03',
 '1997-04',
 '1997-05',
 '1997-06',
 '1997-07',
 '1997-08',
 '1997-09',
 '1997-10',
 '1997-11',
 '1997-12',
 '1998-01',
 '1998-02',
 '1998-03',
 '1998-04',
 '1998-05',
 '1998-06',
 '1998-07',
 '1998-08',
 '1998-09',
 '1998-10',
 '1998-11',
 '1998-12',
 '1999-01',
 '1999-02',
 '1999-03',
 '1999-04',
 '1999-05',
 '1999-06',
 '1999-07',
 '1999-08',
 '1999-09',
 '1999-10',
 '1999-11',
 '1999-12',
 '2000-01',
 '2000-02',
 '2000-03',
 '2000-04',
 '2000-05',
 '2000-06',
 '2000-07',
 '2000-08',
 '2000-09',
 '2000-10',
 '2000-11',
 '2000-12',
 '2001-01',
 '2001-02',
 '2001-03',
 '2001-04',
 '2001-05',
 '2001-06',
 '2001-07',
 '2001-08',
 '2001-09',
 '2001-10',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-02',
 '2002-03',
 '2002-04',
 '2002-05',
 '2002-06',
 '2002-07',
 '2002-08',
 '2002-09',
 '2002-10',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-02',
 '2003-03',
 '2003-04',
 '2003-05',
 '2003-06',
 '2003-07',
 '2003-08',
 '2003-09',
 '2003-10',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2004-10',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-02',
 '2005-03',
 '2005-04',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2005-10',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-05',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2006-10',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2007-10',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2008-10',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2009-10',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01']

In [6]:
df = df.iloc[[0]]

In [7]:
# Is the data in a format that can be passed into an unsupervised learning model?
df.dtypes

RegionID        int64
RegionName     object
SizeRank        int64
1996-04       float64
1996-05       float64
               ...
2019-09         int64
2019-10         int64
2019-11         int64
2019-12         int64
2020-01         int64
Length: 289, dtype: object

In [8]:
df

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,9,California,1,161327.0,161154.0,161021.0,160947.0,160952.0,161001.0,161175.0,...,553549,554281,555050,556081,557569,559533,561558,563566,566414,569687

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Cost/zillow_data.csv"
df.to_csv(file_path, index=False)