In [1]:
import pandas as pd

In [2]:
# Read csv file
year_2010 = pd.read_csv("Resources/census_2010.csv", header=1)
year_2010.head()

,id,Geographic Area Name,Owner-occupied housing units with a mortgage!!Estimate!!Owner-occupied housing units with a mortgage,Owner-occupied housing units with a mortgage!!Margin of Error!!Owner-occupied housing units with a mortgage,"Owner-occupied housing units with a mortgage!!Estimate!!VALUE!!Less than $50,000","Owner-occupied housing units with a mortgage!!Margin of Error!!VALUE!!Less than $50,000","Owner-occupied housing units with a mortgage!!Estimate!!VALUE!!$50,000 to $99,999","Owner-occupied housing units with a mortgage!!Margin of Error!!VALUE!!$50,000 to $99,999","Owner-occupied housing units with a mortgage!!Estimate!!VALUE!!$100,000 to $149,999","Owner-occupied housing units with a mortgage!!Margin of Error!!VALUE!!$100,000 to $149,999",...,"Owner-occupied housing units with a mortgage!!Estimate!!REAL ESTATE TAXES!!$800 to $1,499","Owner-occupied housing units with a mortgage!!Margin of Error!!REAL ESTATE TAXES!!$800 to $1,499","Owner-occupied housing units with a mortgage!!Estimate!!REAL ESTATE TAXES!!$1,500 or more","Owner-occupied housing units with a mortgage!!Margin of Error!!REAL ESTATE TAXES!!$1,500 or more",Owner-occupied housing units with a mortgage!!Estimate!!REAL ESTATE TAXES!!No real estate taxes paid,Owner-occupied housing units with a mortgage!!Margin of Error!!REAL ESTATE TAXES!!No real estate taxes paid,Owner-occupied housing units with a mortgage!!Estimate!!REAL ESTATE TAXES!!Median (dollars),Owner-occupied housing units with a mortgage!!Margin of Error!!REAL ESTATE TAXES!!Median (dollars),Owner-occupied housing units with a mortgage!!Estimate!!PERCENT IMPUTED!!Mortgage status,Owner-occupied housing units with a mortgage!!Margin of Error!!PERCENT IMPUTED!!Mortgage status
0,0500000US06013,"Contra Costa County, California",190759,4999,1.1,0.4,1.5,0.4,4.2,0.8,...,6.5,1.0,90.8,1.1,0.9,0.3,4353,107,37.5,(X)
1,0500000US06071,"San Bernardino County, California",285972,7416,2.9,0.6,8.1,0.9,13.3,1.0,...,20.6,1.2,69.9,1.4,1.3,0.4,2295,58,33.4,(X)
2,0500000US06113,"Yolo County, California",27412,2175,2.4,1.3,2.8,1.6,7.6,2.7,...,15.2,3.2,77.7,3.6,0.9,0.9,3367,312,33.2,(X)
3,0500000US47119,"Maury County, Tennessee",14864,1415,6.8,3.6,23.7,6.1,27.4,5.1,...,43.0,5.8,13.0,3.9,1.3,1.3,898,92,35.7,(X)

In [3]:
# Try to import affordability table
# Names array
names = ["Region_division_area", "Total", "Total_Number_Cant_Afford_Med_home", "Total_Percent_Cant_Afford_Med_Home", "Total_Curr_Owners", "Total_Number_Curr_Own_Cant_Afford_Med", "Total_Percent_Curr_Own_Cant_Afford_Med", "Total_Current_Renters", "Total_Num_Curr_Rent_Cant_Afford_Med", "Total_Percent_Curr_Rent_Cant_Afford_Med"]
affordability_2009 = pd.read_excel("Resources/tab1-3_web.xls", header=7, names=names, index_col=None, skiprows=2, nrows=14)
affordability_2009

,Region_division_area,Total,Total_Number_Cant_Afford_Med_home,Total_Percent_Cant_Afford_Med_Home,Total_Curr_Owners,Total_Number_Curr_Own_Cant_Afford_Med,Total_Percent_Curr_Own_Cant_Afford_Med,Total_Current_Renters,Total_Num_Curr_Rent_Cant_Afford_Med,Total_Percent_Curr_Rent_Cant_Afford_Med
0,United States....................................,132183,85937,65.013655,84610,40569,47.948233,47573,45368,95.365018
1,Northeast........................................,24043,16274,67.687061,14510,7099,48.924879,9532,9176,96.265212
2,..New England....................................,6486,4202,64.785692,4090,1926,47.090465,2396,2276,94.991653
3,..Middle Atlantic................................,17557,12072,68.758900,10420,5173,49.644914,7136,6900,96.692825
4,Midwest..........................................,29195,17023,58.307929,20025,8468,42.287141,9169,8555,93.303523
5,..East North Central.............................,20104,12081,60.092519,13609,5960,43.794548,6494,6121,94.256237
6,..West North Central.............................,9091,4942,54.361456,6416,2508,39.089776,2675,2434,90.990654
7,South............................................,48386,30612,63.266234,32264,15195,47.095834,16122,15416,95.620891
8,..South Atlantic.................................,25537,16373,64.114814,16977,8139,47.941332,8560,8234,96.191589
9,..East South Central.............................,7978,4828,60.516420,5567,2495,44.817676,2411,2333,96.764828
10,..West South Central.............................,14871,9411,63.284245,9720,4561,46.923868,5151,4849,94.137061
11,West.............................................,30559,22028,72.083511,17810,9807,55.064570,12748,12221,95.866018
12,..Mountain.......................................,9833,6644,67.568392,6145,3118,50.740439,3688,3526,95.607375
13,..Pacific........................................,20726,15384,74.225610,11665,6689,57.342477,9060,8695,95.971302

In [4]:
# Remove periods from first column
regions = affordability_2009['Region_division_area']
regions

0     United States....................................
1     Northeast........................................
2     ..New England....................................
3     ..Middle Atlantic................................
4     Midwest..........................................
5     ..East North Central.............................
6     ..West North Central.............................
7     South............................................
8     ..South Atlantic.................................
9     ..East South Central.............................
10    ..West South Central.............................
11    West.............................................
12    ..Mountain.......................................
13    ..Pacific........................................
Name: Region_division_area, dtype: object

In [5]:
import re
import numpy as np

form_one = r'\w+\s+\w+\.*'
form_two = r'\.{2}\w+\s+\w+\.*'
form_three = r'\.{2}\w+\.*'
form_four = r'\.{2}\w+\s+\w+\s+\w+\.*'
form_five = r'\w+\.*'
def parse_regions(region):
    if type(region) != str:
        return np.nan
    if re.match(r'\w+\s+\w+\.*', region, flags=re.IGNORECASE):
        region = re.sub(r'\.+', '', region)
        return region
    elif re.match(r'\.{2}\w+\s+\w+\.*', region, flags=re.IGNORECASE):
        region = re.sub(r'\.+', '', region)
        return region
    elif re.match(r'\.{2}\w+\.*', region, flags=re.IGNORECASE):
        region = re.sub(r'\.+', '', region)
        return region
    elif re.match(r'\.{2}\w+\s+\w+\s+\w+\.*', region, flags=re.IGNORECASE):
        region = re.sub(r'\.+', '', region)
        return region
    elif re.match(r'\w+\.*', region, flags=re.IGNORECASE):
        region = re.sub(r'\.+', '', region)
        return region
    else:
        return np.nan
affordability_2009['Region'] = regions.str.extract(f'({form_one}|{form_two}|{form_three}|{form_four}|{form_five})', flags=re.IGNORECASE)[0].apply(parse_regions)

In [6]:
affordability_2009.drop(columns=['Region_division_area'], inplace=True)
cols = affordability_2009.columns.tolist()
cols = cols[-1:] + cols[:-1]
affordability_2009 = affordability_2009[cols]

In [7]:
affordability_2009

,Region,Total,Total_Number_Cant_Afford_Med_home,Total_Percent_Cant_Afford_Med_Home,Total_Curr_Owners,Total_Number_Curr_Own_Cant_Afford_Med,Total_Percent_Curr_Own_Cant_Afford_Med,Total_Current_Renters,Total_Num_Curr_Rent_Cant_Afford_Med,Total_Percent_Curr_Rent_Cant_Afford_Med
0,United States,132183,85937,65.013655,84610,40569,47.948233,47573,45368,95.365018
1,Northeast,24043,16274,67.687061,14510,7099,48.924879,9532,9176,96.265212
2,New England,6486,4202,64.785692,4090,1926,47.090465,2396,2276,94.991653
3,Middle Atlantic,17557,12072,68.758900,10420,5173,49.644914,7136,6900,96.692825
4,Midwest,29195,17023,58.307929,20025,8468,42.287141,9169,8555,93.303523
5,East North,20104,12081,60.092519,13609,5960,43.794548,6494,6121,94.256237
6,West North,9091,4942,54.361456,6416,2508,39.089776,2675,2434,90.990654
7,South,48386,30612,63.266234,32264,15195,47.095834,16122,15416,95.620891
8,South Atlantic,25537,16373,64.114814,16977,8139,47.941332,8560,8234,96.191589
9,East South,7978,4828,60.516420,5567,2495,44.817676,2411,2333,96.764828
10,West South,14871,9411,63.284245,9720,4561,46.923868,5151,4849,94.137061
11,West,30559,22028,72.083511,17810,9807,55.064570,12748,12221,95.866018
12,Mountain,9833,6644,67.568392,6145,3118,50.740439,3688,3526,95.607375
13,Pacific,20726,15384,74.225610,11665,6689,57.342477,9060,8695,95.971302