In [1]:
# Initial imports.
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Read data
df_us_data = pd.read_csv('Resources/US_data.csv')
df_us_data

,Year,Region,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),...,Median Real Estate Taxes ($),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Net Migration Change
0,2010,3,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,...,568.0,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,NaN
1,2010,4,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,...,3177.0,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,NaN
2,2010,4,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,...,1489.0,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,NaN
3,2010,3,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,...,703.0,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,NaN
4,2010,4,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,...,3284.0,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,74152.0,185507.0,1591788.0,710945.0,197240.0,65247.0,66085.0,...,NaN,2576094.0,303356.0,245066.0,58290.0,11514.0,21244317,280704,267130,12.657811
464,2018,1,Massachusetts,10873.0,8759.0,294869.0,400054.0,237561.0,82421.0,70962.0,...,NaN,900729.0,199591.0,174561.0,25030.0,5179.0,6882635,22846,11129,1.619656
465,2018,3,District of Columbia,700.0,552.0,8147.0,24676.0,22666.0,16753.0,17685.0,...,NaN,76755.0,14236.0,11193.0,3043.0,188.0,701547,6641,2431,3.481678
466,2018,4,Utah,9409.0,5888.0,218789.0,184533.0,50940.0,13839.0,8499.0,...,NaN,416459.0,72368.0,54194.0,18174.0,3070.0,3153550,52508,21841,6.983989
467,2018,1,New York,52902.0,188708.0,818165.0,563394.0,376377.0,177251.0,189594.0,...,NaN,2031119.0,325392.0,289357.0,36035.0,9880.0,19530351,-59221,-125303,-6.406096

In [3]:
# Drop Real Estate Taxes and Net migration change because of NaN values
df_us_data.drop(columns=['Median Real Estate Taxes ($)', 'Net Migration Change'], inplace=True)

In [4]:
# Get list of columns for calculations
df_us_data.columns.to_list()

['Year',
 'Region',
 'NAME',
 'Home Value <$50k (%)',
 'Home Value $50k-$90k (%)',
 'Home Value $100k-$149k (%)',
 'Home Value $150k-$199k (%)',
 'Home Value $200k-$299k (%)',
 'Home Value $300k-$499k (%)',
 'Home Value $500k+ (%)',
 'Median Home Value ($)(1000X)',
 'Median Housing Cost (monthly) ($)',
 'Income <$10k (%)',
 'Income $10k-$24,999 (%)',
 'Income $25k-$34,999 (%)',
 'Income $35k-$49,999 (%)',
 'Income $50k-$74,999 (%)',
 'Income $75k-$99,999 (%)',
 'Income $100k-$149,999 (%)',
 'Income $150k+ (%)',
 'Median Income ($)(1000X)',
 'No 2nd or Equity Loan (%)',
 '2nd Mortgage or Equity Loan (%)',
 'Equity Loan Only (%)',
 '2nd Mortgage Only (%)',
 'Both 2nd & Equity Loan (%)',
 'Population',
 'Net Population Change',
 'Net Migration']

In [5]:
# Create array for the number of medium incomes needed for monthly housing cost
cost_to_income = []
for i in range(len(df_us_data)):
    cost_to_income.append(df_us_data['Median Housing Cost (monthly) ($)'][i] / (df_us_data['Median Income ($)(1000X)'][i] * 1000 / 12))
    i += 1
cost_to_income

[0.21883674391582209,
 0.22442926952832276,
 0.2600580110912397,
 0.19941743976562892,
 0.3041924833793135,
 0.24378090382920004,
 0.2631657087106832,
 0.24226671470482264,
 0.24546280299926976,
 0.290839989693378,
 0.247389653535833,
 0.3025085249333198,
 0.23368825160369464,
 0.2574740062747945,
 0.2066350710900474,
 0.20124749911733553,
 0.2103178532527973,
 0.20918093565539783,
 0.20479859123926922,
 0.2350474106491612,
 0.2464924346629986,
 0.2580072865515603,
 0.23873957367933277,
 0.2341060720126684,
 0.2200499314321882,
 0.21519928388281168,
 0.2348249746747922,
 0.20556383786672666,
 0.27351283656856606,
 0.2636283878310768,
 0.28444551128180506,
 0.230426378260939,
 0.26825490821300046,
 0.2313493838394744,
 0.18576054432922082,
 0.22452473195783404,
 0.20831473570107759,
 0.26873810673407367,
 0.2288348355764086,
 0.2761956072319046,
 0.22502270301272964,
 0.20239438477206453,
 0.22623861255906855,
 0.22451457930206178,
 0.24206762577775276,
 0.25240909487903573,
 0.23831195697145222,
 0.2596211365902293,
 0.18485392579665397,
 0.2370854030930301,
 0.2100727174791274,
 0.2743907354166107,
 0.20920900914751325,
 0.22669165806709765,
 0.24524629435544246,
 0.19648657606894268,
 0.2932828548706863,
 0.23377791098456463,
 0.2558630077203629,
 0.23256159097655088,
 0.2461424948120821,
 0.2779090651290292,
 0.23844169396214385,
 0.2931497206212328,
 0.2389982581260065,
 0.2557025606503896,
 0.19881850901304504,
 0.1949086365766047,
 0.2075510796137428,
 0.20220349967595594,
 0.20055425282455766,
 0.23165748800852726,
 0.24027200604457877,
 0.25126380443587665,
 0.2259836937256292,
 0.2264525993883792,
 0.22043434821475522,
 0.21227500737680732,
 0.24072447333535638,
 0.19797543312127397,
 0.2603956742641424,
 0.2570054679595757,
 0.28485130571703027,
 0.22210721787573437,
 0.2640694568121104,
 0.22722368281081412,
 0.17673386634023183,
 0.21743757197626792,
 0.20209143968871593,
 0.25892533147243546,
 0.22649704411705562,
 0.25770647763839016,
 0.22330266221117145,
 0.20108108108108108,
 0.22222222222222218,
 0.21823006777412096,
 0.23604155973865637,
 0.2397774761821578,
 0.23174829447103146,
 0.2535200965512197,
 0.18337192993900647,
 0.23300970873786406,
 0.19608550090136492,
 0.2932870943770126,
 0.20288834096512856,
 0.23287264710869934,
 0.2275731279811505,
 0.1911639762107052,
 0.279354895412199,
 0.22891862638984553,
 0.24910390594596807,
 0.22866474061047606,
 0.22734049146551868,
 0.2654702393889527,
 0.2238448278278418,
 0.28475651668164753,
 0.22679416594223897,
 0.23985768641597072,
 0.1920589292130794,
 0.19170403587443946,
 0.20135038994858853,
 0.1965459408005077,
 0.19492316835045423,
 0.23556770306389022,
 0.22749602158721374,
 0.24061290451298833,
 0.2152333294542069,
 0.21347127609194566,
 0.20710782262249527,
 0.20755993528460068,
 0.21725915157922554,
 0.19897195126887113,
 0.24212215933091158,
 0.247892417222285,
 0.2763340314445002,
 0.21952004906846587,
 0.25960142536624,
 0.21374585635359117,
 0.17692401810840575,
 0.20578977826080824,
 0.19813339674236122,
 0.2526729216670303,
 0.21499131426793539,
 0.25098446084557524,
 0.21066711252298947,
 0.20246615504009657,
 0.21805348001653366,
 0.2089866277964383,
 0.22601187263896383,
 0.24141122665650352,
 0.22265677081018626,
 0.24709738614669757,
 0.17818750199368402,
 0.22172389252192126,
 0.19470089319222397,
 0.2841248085140692,
 0.1990590377902565,
 0.2088537565167117,
 0.21549105636179547,
 0.18875018074902392,
 0.2641493296841925,
 0.21588522197301432,
 0.23627386830051753,
 0.2246676293382463,
 0.21734059097978228,
 0.24728105323411556,
 0.2139327584536382,
 0.26883022523613465,
 0.2165921196124607,
 0.22997514113224185,
 0.18557781919850885,
 0.1821316571862994,
 0.19506444514303678,
 0.19459459459459458,
 0.1896294690049603,
 0.21681081774269387,
 0.2224163605678547,
 0.2349048472900548,
 0.20448096226335183,
 0.20686182838236356,
 0.20234182755032945,
 0.19953921666833616,
 0.21889307447116776,
 0.19476290079165454,
 0.23159059003701024,
 0.2391981883001861,
 0.2648645011199446,
 0.20983510443385855,
 0.25180766837599505,
 0.2074843597543477,
 0.17185775816039583,
 0.20076664406404382,
 0.18997178207076187,
 0.23808517383493605,
 0.2098265454267594,
 0.2398712284667283,
 0.20493834532588898,
 0.19372227525408503,
 0.20779378870646237,
 0.20176822333908068,
 0.21477312606418236,
 0.23315634218289086,
 0.21694214876033058,
 0.23630027759730673,
 0.17903902377017922,
 0.21568444982119353,
 0.19289806376755542,
 0.2810822360513875,
 0.20178523126859615,
 0.2100546469379207,
 0.21038714208982356,
 0.18742641864845774,
 0.25768132495716733,
 0.21378118512160893,
 0.23372893772893774,
 0.215662620940939,
 0.20916818940176374,
 0.23927375853348343,
 0.2071300002686511,
 0.2591120473786716,
 0.208686084538036,
 0.2234342674440474,
 0.18761107980406605,
 0.18472925798577386,
 0.19232830564275324,
 0.19326783701079084,
 0.19276451256596622,
 0.22071959262041907,
 0.22144644207831496,
 0.22824978278115676,
 0.20087480399438806,
 0.2028813618446297,
 0.20882523708147863,
 0.19806991684512057,
 0.21678291383269072,
 0.1932937344318835,
 0.2211606363976239,
 0.2306285089471582,
 0.2583106875628187,
 0.21207998106956932,
 0.2516905298580907,
 0.2054323197851688,
 0.1746542296558379,
 0.1943352322875712,
 0.19151342520839443,
 0.22947475777664456,
 0.208286840734955,
 0.2402450637326327,
 0.20517038777908345,
 0.19180707498203306,
 0.20905548837834206,
 0.201880327693931,
 0.2114530757846002,
 0.23634173170603956,
 0.21187780524813515,
 0.22775849159349262,
 0.17439982775325655,
 0.21304437778007654,
 0.18751117414987067,
 0.2827937761883157,
 1.7055387370485652e-05,
 0.0,
 1.6093988895147664e-05,
 3.653690989084598e-05,
 0.0,
 1.3270813058480053e-05,
 0.0,
 0.0,
 0.0,
 1.682132944573719e-05,
 1.5656802880851735e-05,
 0.0,
 0.0,
 1.3733591219657345e-05,
 1.6630172676626292e-05,
 1.5480874669418824e-05,
 1.4948986583284542e-05,
 3.442242046986604e-05,
 3.097173828881146e-05,
 1.6489632143789592e-05,
 0.0,
 0.0,
 1.5945360564465763e-05,
 1.3527681017281612e-05,
 1.8409143207793205e-05,
 1.5862105430127426e-05,
 0.0,
 1.4743101457109864e-05,
 0.0,
 0.0,
 0.0,
 1.7262213015708613e-05,
 0.0,
 1.6411827456987334e-05,
 1.2901283677725935e-05,
 1.5575313128691026e-05,
 1.658695712271584e-05,
 0.0,
 1.4561162951547733e-05,
 0.0,
 3.414668848260653e-05,
 3.0815058291818606e-05,
 1.7088905028410307e-05,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.082675480662821e-05,
 0.0,
 2.818588591762675e-05,
 0.0003709237030549689,
 1.64100319995624e-05,
 0.0,
 1.5540216786024164e-05,
 3.4774545033035823e-05,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.6215120599959465e-05,
 1.4808416116492874e-05,
 0.0,
 1.690355115437168e-05,
 0.0,
 3.183446080382014e-05,
 1.4772139744441984e-05,
 1.4760873843731549e-05,
 4.906169508156507e-05,
 3.0805565538840687e-05,
 1.5493466921448126e-05,
 0.0,
 0.0,
 1.5338403527832813e-05,
 1.3063072870174826e-05,
 1.7456068893285232e-05,
 1.5488067734482894e-05,
 4.979046512592838e-05,
 0.0,
 0.0,
 0.0,
 0.0,
 1.742944705079232e-05,
 0.0,
 1.5754027123183367e-05,
 0.0,
 1.52152964446924e-05,
 1.5769554247266613e-05,
 0.0,
 1.394829830760647e-05,
 0.0,
 1.645909913864048e-05,
 1.4748718705062498e-05,
 3.321569441561138e-05,
 0.0,
 0.0,
 0.0,
 1.2131260235750825e-05,
 0.0,
 6.795113181103923e-05,
 0.0,
 0.0,
 0.00015785319652722967,
 0.19395597762665487,
 0.002193531007677358,
 0.12199918370375866,
 0.20157285350515608,
 0.11302930696351131,
 0.01950476817513142,
 0.0,
 0.0009612193754362677,
 0.0,
 0.29086165286021787,
 0.10108680176545966,
 0.000639965868487014,
 0.0493513100992114,
 0.11910153752803632,
 0.14534243558687515,
 0.038777140367438824,
 0.03412042779246917,
 0.19666980835689601,
 0.10311753629964743,
 0.0847192892576441,
 0.004399771068822436,
 0.010413299076074935,
 0.23599169878446488,
 0.025542087824518722,
 0.16751074605268756,
 0.18903913877157144,
 0.006882487891919449,
 0.016563819421890225,
 0.01996916525952573,
 0.0,
 0.011675795371620772,
 0.025575232406511588,
 0.1319713559534969,
 0.14243635862276424,
 0.0023379912758288504,
 0.2155451072583015,
 0.05847677434567318,
 0.0344109514218414,
 0.1894807670741281,
 0.0,
 0.11277901057303223,
 0.011558579318921685,
 0.19329242488362253,
 0.13459778899665228,
 0.03720534575003917,
 0.0,
 0.07749285495307509,
 0.0575167558322229,
 0.08192812127405893,
 0.05728224460498827,
 0.0039250960830812,
 0.7181776204402032,
 0.005926263604763804,
 0.001474346373107922,
 0.10424028268551239,
 0.3168655422157627,
 0.1377775329182965,
 0.2530927958874823,
 0.0134972707724541,
 0.02832260672880448,
 0.00880480426242832,
 0.09852513116335036,
 0.07582701441546538,
 0.0022080084114606147,
 0.18897539187243012,
 0.08258993567514625,
 0.027792475907115536,
 0.021337303064135966,
 0.1266829865361077,
 0.12241942245880602,
 0.003018108651911468,
 0.01321065195726238,
 0.08204513338757333,
 0.07672977881720695,
 0.02989795105746368,
 0.698765117759389,
 0.010833960298628393,
 0.08086501409098752,
 0.002948493504100249,
 0.0,
 0.19729997967212334,
 0.0650237876097017,
 0.12111927184247284,
 0.02909278024065864,
 0.001904929887997178,
 0.024240395878654588,
 0.18000913751967107,
 0.2800620636152056,
 0.11067270928258187,
 0.0456182013176038,
 0.0744463056020845,
 0.04085811566942071,
 0.006379403639677613,
 0.0,
 0.18590353907673898,
 0.012252202643171808,
 0.046503627404356936,
 0.01180093682875702,
 0.13031148083376662,
 0.29711839944259194,
 0.009081561304651833,
 0.0,
 0.02862669245647969,
 0.1332154109778343]

In [6]:
# Create "Cost_to_income_ratio" column
df_us_data['Cost_to_income_ratio'] = cost_to_income
df_us_data

,Year,Region,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),...,Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Cost_to_income_ratio
0,2010,3,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,...,61.964,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0.218837
1,2010,4,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,...,94.747,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0.224429
2,2010,4,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,...,66.539,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0.260058
3,2010,3,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,...,59.393,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0.199417
4,2010,4,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,...,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,0.304192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,74152.0,185507.0,1591788.0,710945.0,197240.0,65247.0,66085.0,...,80.372,2576094.0,303356.0,245066.0,58290.0,11514.0,21244317,280704,267130,0.297118
464,2018,1,Massachusetts,10873.0,8759.0,294869.0,400054.0,237561.0,82421.0,70962.0,...,121.565,900729.0,199591.0,174561.0,25030.0,5179.0,6882635,22846,11129,0.009082
465,2018,3,District of Columbia,700.0,552.0,8147.0,24676.0,22666.0,16753.0,17685.0,...,151.147,76755.0,14236.0,11193.0,3043.0,188.0,701547,6641,2431,0.000000
466,2018,4,Utah,9409.0,5888.0,218789.0,184533.0,50940.0,13839.0,8499.0,...,93.060,416459.0,72368.0,54194.0,18174.0,3070.0,3153550,52508,21841,0.028627
467,2018,1,New York,52902.0,188708.0,818165.0,563394.0,376377.0,177251.0,189594.0,...,108.546,2031119.0,325392.0,289357.0,36035.0,9880.0,19530351,-59221,-125303,0.133215

In [7]:
# Create array for binary category
leave = []
for i in range(len(df_us_data)):
    if df_us_data['Cost_to_income_ratio'][i] > 0.28:
        leave.append(1)
    else:
        leave.append(0)
    i += 1
leave

[0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0]

In [8]:
# Create binary column in df_us_data
df_us_data['Leave'] = leave
df_us_data

,Year,Region,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),...,No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Cost_to_income_ratio,Leave
0,2010,3,Alabama,9.1,23.6,20.3,17.8,16.8,8.7,3.7,...,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0.218837,0
1,2010,4,Alaska,2.0,2.9,9.6,15.6,35.2,26.5,8.1,...,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0.224429,0
2,2010,4,Arizona,4.0,13.4,20.5,19.5,21.4,14.4,6.8,...,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0.260058,0
3,2010,3,Arkansas,12.0,27.0,23.9,16.2,12.2,6.4,2.1,...,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0.199417,0
4,2010,4,California,1.5,3.4,6.0,8.6,17.4,29.1,34.0,...,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,0.304192,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,74152.0,185507.0,1591788.0,710945.0,197240.0,65247.0,66085.0,...,2576094.0,303356.0,245066.0,58290.0,11514.0,21244317,280704,267130,0.297118,1
464,2018,1,Massachusetts,10873.0,8759.0,294869.0,400054.0,237561.0,82421.0,70962.0,...,900729.0,199591.0,174561.0,25030.0,5179.0,6882635,22846,11129,0.009082,0
465,2018,3,District of Columbia,700.0,552.0,8147.0,24676.0,22666.0,16753.0,17685.0,...,76755.0,14236.0,11193.0,3043.0,188.0,701547,6641,2431,0.000000,0
466,2018,4,Utah,9409.0,5888.0,218789.0,184533.0,50940.0,13839.0,8499.0,...,416459.0,72368.0,54194.0,18174.0,3070.0,3153550,52508,21841,0.028627,0
467,2018,1,New York,52902.0,188708.0,818165.0,563394.0,376377.0,177251.0,189594.0,...,2031119.0,325392.0,289357.0,36035.0,9880.0,19530351,-59221,-125303,0.133215,0

In [9]:
# Create States DataFrame with names of states
state_names_df = df_us_data[['Year', 'Region', 'NAME']]
state_names_df.head()

   Year  Region        NAME
0  2010       3     Alabama
1  2010       4      Alaska
2  2010       4     Arizona
3  2010       3    Arkansas
4  2010       4  California

In [10]:
# Remove NAME column to prepare for ML
clean_us_data_df = df_us_data.drop('NAME', axis=1)
clean_us_data_df

,Year,Region,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Cost_to_income_ratio,Leave
0,2010,3,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0.218837,0
1,2010,4,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0.224429,0
2,2010,4,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0.260058,0
3,2010,3,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0.199417,0
4,2010,4,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,0.304192,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,74152.0,185507.0,1591788.0,710945.0,197240.0,65247.0,66085.0,247.0,...,2576094.0,303356.0,245066.0,58290.0,11514.0,21244317,280704,267130,0.297118,1
464,2018,1,10873.0,8759.0,294869.0,400054.0,237561.0,82421.0,70962.0,406.9,...,900729.0,199591.0,174561.0,25030.0,5179.0,6882635,22846,11129,0.009082,0
465,2018,3,700.0,552.0,8147.0,24676.0,22666.0,16753.0,17685.0,627.0,...,76755.0,14236.0,11193.0,3043.0,188.0,701547,6641,2431,0.000000,0
466,2018,4,9409.0,5888.0,218789.0,184533.0,50940.0,13839.0,8499.0,310.0,...,416459.0,72368.0,54194.0,18174.0,3070.0,3153550,52508,21841,0.028627,0
467,2018,1,52902.0,188708.0,818165.0,563394.0,376377.0,177251.0,189594.0,341.9,...,2031119.0,325392.0,289357.0,36035.0,9880.0,19530351,-59221,-125303,0.133215,0

## Preprocess data

In [11]:
# Define the features set
X = clean_us_data_df.copy()
X = X.drop('Leave', axis=1)
X.head()

,Year,Region,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Cost_to_income_ratio
0,2010,3,9.1,23.6,20.3,17.8,16.8,8.7,3.7,142.7,...,61.964,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0.218837
1,2010,4,2.0,2.9,9.6,15.6,35.2,26.5,8.1,255.7,...,94.747,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0.224429
2,2010,4,4.0,13.4,20.5,19.5,21.4,14.4,6.8,177.0,...,66.539,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0.260058
3,2010,3,12.0,27.0,23.9,16.2,12.2,6.4,2.1,122.6,...,59.393,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0.199417
4,2010,4,1.5,3.4,6.0,8.6,17.4,29.1,34.0,377.7,...,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,0.304192

In [12]:
# Define the target set
y = clean_us_data_df['Leave'].ravel()
y[:5]

array([0, 0, 0, 0, 1])

In [13]:
# Split into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create instance of StandardScaler
scaler = StandardScaler()
# Fit StandardScaler with training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fit the Random Forest Model

In [15]:
# Create a Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Make predictions using test data
predictions = rf_model.predict(X_test_scaled)
predictions

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

## Evaluate the Model

In [16]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [17]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          111            1
Actual 1            0            5

Accuracy Score: 0.9914529914529915
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      1.00       112
           1       0.83      1.00      0.91         5

    accuracy                           0.99       117
   macro avg       0.92      1.00      0.95       117
weighted avg       0.99      0.99      0.99       117

In [18]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.00321254, 0.03036759, 0.03768465, 0.01330804, 0.02815471,
       0.0177358 , 0.009799  , 0.01190227, 0.01231344, 0.00944658,
       0.08222009, 0.02264092, 0.03492749, 0.02316802, 0.01889458,
       0.00870031, 0.03557545, 0.02439105, 0.02414883, 0.07189991,
       0.01840345, 0.01814369, 0.01485085, 0.02392271, 0.00991523,
       0.01917118, 0.01395869, 0.01792088, 0.34322203])

In [19]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.3432220313506866, 'Cost_to_income_ratio'),
 (0.08222008720597895, 'Median Housing Cost (monthly) ($)'),
 (0.0718999147238708, 'Median Income ($)(1000X)'),
 (0.03768465391205066, 'Home Value <$50k (%)'),
 (0.03557544982404375, 'Income $75k-$99,999 (%)'),
 (0.03492749204919802, 'Income $10k-$24,999 (%)'),
 (0.030367593983386985, 'Region'),
 (0.028154707832560584, 'Home Value $100k-$149k (%)'),
 (0.024391049528613977, 'Income $100k-$149,999 (%)'),
 (0.024148826832684617, 'Income $150k+ (%)'),
 (0.02392271316614061, '2nd Mortgage Only (%)'),
 (0.023168019203198376, 'Income $25k-$34,999 (%)'),
 (0.022640915217184306, 'Income <$10k (%)'),
 (0.019171182618445987, 'Population'),
 (0.01889458051630221, 'Income $35k-$49,999 (%)'),
 (0.01840345486353251, 'No 2nd or Equity Loan (%)'),
 (0.018143690397380455, '2nd Mortgage or Equity Loan (%)'),
 (0.01792088297035991, 'Net Migration'),
 (0.017735803635723402, 'Home Value $150k-$199k (%)'),
 (0.014850847431244112, 'Equity Loan Only (%)'),
 (0.013958691731203069, 'Net Population Change'),
 (0.013308038881955314, 'Home Value $50k-$90k (%)'),
 (0.012313440366950089, 'Home Value $500k+ (%)'),
 (0.011902272888433856, 'Home Value $300k-$499k (%)'),
 (0.009915234680331536, 'Both 2nd & Equity Loan (%)'),
 (0.0097989991397544, 'Home Value $200k-$299k (%)'),
 (0.009446581295221329, 'Median Home Value ($)(1000X)'),
 (0.008700308662258682, 'Income $50k-$74,999 (%)'),
 (0.003212535091304985, 'Year')]