In [1]:
# Import our dependencies
import pandas as pd

In [2]:
# Read in our data
census_df = pd.read_csv("../Resources/data/2017_data.csv")
census_df

,GEO_ID,NAME,S2506_C01_036M,S2506_C01_037E,S2506_C01_037M,S2506_C01_038E,S2506_C01_038M,S2506_C01_039E,S2506_C01_039M,S2506_C01_040E,...,S2506_C01_031M,S2506_C01_032E,S2506_C01_032M,S2506_C01_033E,S2506_C01_033M,S2506_C01_034E,S2506_C01_034M,S2506_C01_035E,S2506_C01_035M,S2506_C01_036E
0,id,Geographic Area Name,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...
1,0400000US01,Alabama,3259,17825,2279,16831,1876,1123,9,49593,...,3246,101181,4499,123480,6300,248461,7518,102657,5033,40787
2,0400000US02,Alaska,2002,10244,1395,10143,1301,1844,31,3230,...,482,2648,641,3941,922,21809,2199,30631,2535,20811
3,0400000US04,Arizona,5039,51580,3469,58323,3886,1365,9,57900,...,2469,81237,3823,134382,5434,372089,7947,221479,6021,105787
4,0400000US05,Arkansas,2178,7008,1224,8326,1623,1025,15,30627,...,2985,74357,4377,84409,4701,128987,5377,52377,3680,19440
5,0400000US06,California,14295,696716,12530,1402414,16812,2269,7,200343,...,2459,93095,4709,179491,5977,751622,14302,963774,13662,895989
6,0400000US08,Colorado,5220,88793,4423,83714,3921,1681,12,40589,...,2022,37619,2802,65215,3439,266820,7955,269910,7419,161708
7,0400000US09,Connecticut,4967,68455,3571,113084,4449,1976,17,17366,...,651,6468,1171,19273,2470,118863,5045,166362,5622,116534
8,0400000US10,Delaware,2087,9091,1619,7753,1216,1507,32,8529,...,795,7042,1141,10893,1691,59628,4106,44892,2990,20941
9,0400000US11,District of Columbia,1613,11973,1496,31248,2305,2432,67,3645,...,367,1829,813,3070,823,11659,1447,15515,1882,14046
10,0400000US12,Florida,10741,167945,7249,207176,6726,1423,7,188602,...,4963,214383,7685,334218,9400,906671,16648,595809,10949,319363
11,0400000US13,Georgia,5694,76378,4209,88395,5699,1341,9,87686,...,3425,127973,5930,200879,7400,535952,12458,299376,9185,144433
12,0400000US15,Hawaii,2192,25939,2371,50416,3440,2337,51,5934,...,717,4546,962,4005,728,23118,2199,31582,2399,29964
13,0400000US16,Idaho,2498,7230,1457,6634,1332,1213,15,14423,...,1520,27275,2914,49049,4003,109582,5113,48014,3335,20390
14,0400000US17,Illinois,7542,156693,6084,220915,5764,1603,9,87467,...,2900,127674,4795,186201,5716,536107,9829,448822,10189,279957
15,0400000US18,Indiana,3961,25854,2199,25214,2686,1089,7,60339,...,3456,178830,5907,226271,7779,404157,8145,152589,5442,58622
16,0400000US19,Iowa,2797,17248,1864,15543,1672,1205,10,21479,...,2062,64301,3093,91930,4623,199087,4785,97787,4656,40848
17,0400000US20,Kansas,3034,18125,1327,18107,1805,1314,14,14891,...,1368,40099,2985,65723,3551,149229,5556,91630,4502,39471
18,0400000US21,Kentucky,2583,16519,1931,18604,1720,1123,9,45158,...,3108,88833,4758,123127,5021,237885,7552,95293,4540,35833
19,0400000US22,Louisiana,3755,20164,2358,19293,1891,1233,17,41878,...,2768,66888,4114,96570,5033,200538,7166,107266,5265,48348
20,0400000US23,Maine,2301,9136,1403,8848,1328,1313,22,12475,...,1378,22693,2113,33071,2696,85951,4023,48560,2921,23397
21,0400000US24,Maryland,6602,123724,5217,169821,5496,1915,14,39163,...,1401,30668,2432,49862,3046,215796,6212,270209,7178,198783
22,0400000US25,Massachusetts,5857,152494,5786,232805,7123,2108,17,34760,...,1035,18949,1856,38336,3044,186489,6493,266396,7267,232524
23,0400000US26,Michigan,5251,58202,3390,61448,2863,1231,6,83863,...,3493,181189,5991,275720,7414,583869,10684,307233,6776,139629
24,0400000US27,Minnesota,4909,61254,3136,68658,2888,1500,10,32329,...,1718,57336,3336,98790,3311,336065,6326,259461,6051,130182
25,0400000US28,Mississippi,2123,8846,1652,6038,1235,1090,14,32127,...,2760,55736,4072,66418,4162,124759,6076,51905,3644,19780
26,0400000US29,Missouri,3753,31262,2519,32078,2765,1207,9,50610,...,2864,115532,4751,159536,6116,356672,8258,165676,5823,73801
27,0400000US30,Montana,2039,8034,1323,6013,1008,1367,27,8234,...,1002,13632,1820,19313,1610,58352,3490,38736,3042,16368
28,0400000US31,Nebraska,2106,11552,1361,11662,1510,1334,14,10982,...,870,22330,1927,42422,2665,115367,5064,63686,3274,28986
29,0400000US32,Nevada,3534,21138,2138,22040,2157,1428,16,19950,...,1269,22785,2134,46369,3248,155740,5423,97780,4172,50633
30,0400000US33,New Hampshire,3328,29307,2238,23286,1809,1874,27,6104,...,655,4286,1074,11442,1604,50905,3216,69666,3822,52234
31,0400000US34,New Jersey,7015,226318,7280,375850,8792,2348,15,42415,...,958,10672,1738,27044,2344,172779,5680,276928,7207,281887
32,0400000US35,New Mexico,2163,8413,1289,10209,1439,1244,18,21597,...,1534,27385,2819,44990,3721,105023,5234,50206,3525,19240
33,0400000US36,New York,8868,287934,8090,602201,9112,2036,14,96165,...,3218,109402,4903,171608,5402,450369,9484,385979,8883,331142
34,0400000US37,North Carolina,5491,69389,4400,73462,3393,1242,8,89873,...,4119,168298,6162,271510,8278,547200,10650,289690,8365,132025
35,0400000US38,North Dakota,1738,4212,947,3931,1406,1356,28,3026,...,866,8671,1149,14491,1902,38151,2601,24107,2334,11222
36,0400000US39,Ohio,5046,61905,3427,69225,3318,1214,6,93275,...,4265,228343,6333,314973,7075,675431,12162,339679,7819,141270
37,0400000US40,Oklahoma,2577,14014,1537,17275,1622,1183,10,30698,...,1915,67134,3075,86128,3412,189623,5040,83914,3521,38264
38,0400000US41,Oregon,5701,54534,3897,45414,2881,1629,14,31854,...,1336,24935,2386,45511,2702,202533,6839,184807,6197,103813
39,0400000US42,Pennsylvania,6107,130726,5051,145586,4900,1438,8,89209,...,2941,159462,5663,236541,7537,634793,10210,445096,10233,234780
40,0400000US44,Rhode Island,2835,14043,1775,13991,1656,1782,28,7571,...,454,4289,910,6975,1186,38459,3090,60148,4131,32981
41,0400000US45,South Carolina,3569,25651,2643,29265,2425,1195,12,48900,...,2978,90460,5440,127385,5613,258201,6453,125107,5927,56640
42,0400000US46,South Dakota,1179,4430,920,3661,772,1283,23,4397,...,889,12622,1411,18055,1802,51867,3081,23811,2308,9610
43,0400000US47,Tennessee,3455,36730,2850,37425,2428,1184,9,64217,...,3371,121179,5608,168059,7326,346465,9435,155387,5923,69843
44,0400000US48,Texas,10117,230688,8930,314110,8649,1513,8,150897,...,3986,197765,8313,353061,10634,1071906,19384,782374,14052,416284
45,0400000US49,Utah,3917,23553,1897,24042,2359,1467,13,15342,...,1513,23450,1913,42558,2819,177440,5954,124030,4810,57995
46,0400000US50,Vermont,1578,6040,971,6642,1080,1527,23,6082,...,519,4359,764,10250,1130,36732,2387,31064,1961,13399
47,0400000US51,Virginia,6806,141541,4851,206821,5003,1718,11,53233,...,3031,67002,3999,115991,5119,349071,9206,302444,7566,209678
48,0400000US53,Washington,7413,125083,5232,156922,5199,1806,14,43232,...,1453,35940,2946,67696,3856,291893,8356,317645,8785,215194
49,0400000US54,West Virginia,1626,3482,996,3698,977,984,15,16989,...,2167,45563,2716,51603,3572,67306,4542,29437,2614,11129
50,0400000US55,Wisconsin,4052,43859,2677,41835,2412,1358,7,42104,...,1655,78435,2993,132765,4380,362836,7015,223546,5959,93973
51,0400000US56,Wyoming,2020,4181,1005,3764,1062,1386,38,4644,...,692,5240,979,10531,1765,35283,3078,21911,2079,9269
52,0400000US72,Puerto Rico,1325,3681,1290,5210,1174,828,13,68840,...,3792,78902,4210,63503,4534,65613,4859,22427,2938,5708

In [3]:
# List row and column counts
census_df.shape

(53, 262)

In [4]:
# List dataframe data types
census_df.dtypes

GEO_ID            object
NAME              object
S2506_C01_036M    object
S2506_C01_037E    object
S2506_C01_037M    object
                   ...
S2506_C01_034E    object
S2506_C01_034M    object
S2506_C01_035E    object
S2506_C01_035M    object
S2506_C01_036E    object
Length: 262, dtype: object

In [5]:
# Find null values
for column in census_df.columns:
    print(f"Column {column} has {census_df[column].isnull().sum()} null values")

Column GEO_ID has 0 null values
Column NAME has 0 null values
Column S2506_C01_036M has 0 null values
Column S2506_C01_037E has 0 null values
Column S2506_C01_037M has 0 null values
Column S2506_C01_038E has 0 null values
Column S2506_C01_038M has 0 null values
Column S2506_C01_039E has 0 null values
Column S2506_C01_039M has 0 null values
Column S2506_C01_040E has 0 null values
Column S2506_C01_040M has 0 null values
Column S2506_C01_041E has 0 null values
Column S2506_C01_041M has 0 null values
Column S2506_C01_042E has 0 null values
Column S2506_C01_042M has 0 null values
Column S2506_C01_043E has 0 null values
Column S2506_C01_043M has 0 null values
Column S2506_C01_044E has 0 null values
Column S2506_C01_044M has 0 null values
Column S2506_C01_045E has 0 null values
Column S2506_C01_045M has 0 null values
Column S2506_C01_046E has 0 null values
Column S2506_C01_046M has 0 null values
Column S2506_C01_047E has 0 null values
Column S2506_C01_047M has 0 null values
Column S2506_C01_048E has 0 null values
Column S2506_C01_048M has 0 null values
Column S2506_C01_049E has 0 null values
Column S2506_C01_049M has 0 null values
Column S2506_C01_050E has 0 null values
Column S2506_C01_050M has 0 null values
Column S2506_C01_051E has 0 null values
Column S2506_C01_051M has 0 null values
Column S2506_C01_052E has 0 null values
Column S2506_C01_052M has 0 null values
Column S2506_C01_053E has 0 null values
Column S2506_C01_053M has 0 null values
Column S2506_C01_054E has 0 null values
Column S2506_C01_054M has 0 null values
Column S2506_C01_055E has 0 null values
Column S2506_C01_055M has 0 null values
Column S2506_C01_056E has 0 null values
Column S2506_C01_056M has 0 null values
Column S2506_C01_057E has 0 null values
Column S2506_C01_057M has 0 null values
Column S2506_C01_058E has 0 null values
Column S2506_C01_058M has 0 null values
Column S2506_C01_059E has 0 null values
Column S2506_C01_059M has 0 null values
Column S2506_C01_060E has 0 null values
Column S2506_C01_060M has 0 null values
Column S2506_C01_061E has 0 null values
Column S2506_C01_061M has 0 null values
Column S2506_C01_062E has 0 null values
Column S2506_C01_062M has 0 null values
Column S2506_C01_063E has 0 null values
Column S2506_C01_063M has 0 null values
Column S2506_C01_064E has 0 null values
Column S2506_C01_064M has 0 null values
Column S2506_C01_065E has 0 null values
Column S2506_C01_065M has 0 null values
Column S2506_C02_001E has 0 null values
Column S2506_C02_001M has 0 null values
Column S2506_C02_002E has 0 null values
Column S2506_C02_002M has 0 null values
Column S2506_C02_003E has 0 null values
Column S2506_C02_003M has 0 null values
Column S2506_C02_004E has 0 null values
Column S2506_C02_004M has 0 null values
Column S2506_C02_005E has 0 null values
Column S2506_C02_005M has 0 null values
Column S2506_C02_006E has 0 null values
Column S2506_C02_006M has 0 null values
Column S2506_C02_007E has 0 null values
Column S2506_C02_007M has 0 null values
Column S2506_C02_008E has 0 null values
Column S2506_C02_008M has 0 null values
Column S2506_C02_009E has 0 null values
Column S2506_C02_009M has 0 null values
Column S2506_C02_010E has 0 null values
Column S2506_C02_010M has 0 null values
Column S2506_C02_011E has 0 null values
Column S2506_C02_011M has 0 null values
Column S2506_C02_012E has 0 null values
Column S2506_C02_012M has 0 null values
Column S2506_C02_013E has 0 null values
Column S2506_C02_013M has 0 null values
Column S2506_C02_014E has 0 null values
Column S2506_C02_014M has 0 null values
Column S2506_C02_015E has 0 null values
Column S2506_C02_015M has 0 null values
Column S2506_C02_016E has 0 null values
Column S2506_C02_016M has 0 null values
Column S2506_C02_017E has 0 null values
Column S2506_C02_017M has 0 null values
Column S2506_C02_018E has 0 null values
Column S2506_C02_018M has 0 null values
Column S2506_C02_019E has 0 null values
Column S2506_C02_019M has 0 null values
Column S2506_C02_020E has 0 null values
Column S2506_C02_020M has 0 null values
Column S2506_C02_021E has 0 null values
Column S2506_C02_021M has 0 null values
Column S2506_C02_022E has 0 null values
Column S2506_C02_022M has 0 null values
Column S2506_C02_023E has 0 null values
Column S2506_C02_023M has 0 null values
Column S2506_C02_024E has 0 null values
Column S2506_C02_024M has 0 null values
Column S2506_C02_025E has 0 null values
Column S2506_C02_025M has 0 null values
Column S2506_C02_026E has 0 null values
Column S2506_C02_026M has 0 null values
Column S2506_C02_027E has 0 null values
Column S2506_C02_027M has 0 null values
Column S2506_C02_028E has 0 null values
Column S2506_C02_028M has 0 null values
Column S2506_C02_029E has 0 null values
Column S2506_C02_029M has 0 null values
Column S2506_C02_030E has 0 null values
Column S2506_C02_030M has 0 null values
Column S2506_C02_031E has 0 null values
Column S2506_C02_031M has 0 null values
Column S2506_C02_032E has 0 null values
Column S2506_C02_032M has 0 null values
Column S2506_C02_033E has 0 null values
Column S2506_C02_033M has 0 null values
Column S2506_C02_034E has 0 null values
Column S2506_C02_034M has 0 null values
Column S2506_C02_035E has 0 null values
Column S2506_C02_035M has 0 null values
Column S2506_C02_036E has 0 null values
Column S2506_C02_036M has 0 null values
Column S2506_C02_037E has 0 null values
Column S2506_C02_037M has 0 null values
Column S2506_C02_038E has 0 null values
Column S2506_C02_038M has 0 null values
Column S2506_C02_039E has 0 null values
Column S2506_C02_039M has 0 null values
Column S2506_C02_040E has 0 null values
Column S2506_C02_040M has 0 null values
Column S2506_C02_041E has 0 null values
Column S2506_C02_041M has 0 null values
Column S2506_C02_042E has 0 null values
Column S2506_C02_042M has 0 null values
Column S2506_C02_043E has 0 null values
Column S2506_C02_043M has 0 null values
Column S2506_C02_044E has 0 null values
Column S2506_C02_044M has 0 null values
Column S2506_C02_045E has 0 null values
Column S2506_C02_045M has 0 null values
Column S2506_C02_046E has 0 null values
Column S2506_C02_046M has 0 null values
Column S2506_C02_047E has 0 null values
Column S2506_C02_047M has 0 null values
Column S2506_C02_048E has 0 null values
Column S2506_C02_048M has 0 null values
Column S2506_C02_049E has 0 null values
Column S2506_C02_049M has 0 null values
Column S2506_C02_050E has 0 null values
Column S2506_C02_050M has 0 null values
Column S2506_C02_051E has 0 null values
Column S2506_C02_051M has 0 null values
Column S2506_C02_052E has 0 null values
Column S2506_C02_052M has 0 null values
Column S2506_C02_053E has 0 null values
Column S2506_C02_053M has 0 null values
Column S2506_C02_054E has 0 null values
Column S2506_C02_054M has 0 null values
Column S2506_C02_055E has 0 null values
Column S2506_C02_055M has 0 null values
Column S2506_C02_056E has 0 null values
Column S2506_C02_056M has 0 null values
Column S2506_C02_057E has 0 null values
Column S2506_C02_057M has 0 null values
Column S2506_C02_058E has 0 null values
Column S2506_C02_058M has 0 null values
Column S2506_C02_059E has 0 null values
Column S2506_C02_059M has 0 null values
Column S2506_C02_060E has 0 null values
Column S2506_C02_060M has 0 null values
Column S2506_C02_061E has 0 null values
Column S2506_C02_061M has 0 null values
Column S2506_C02_062E has 0 null values
Column S2506_C02_062M has 0 null values
Column S2506_C02_063E has 0 null values
Column S2506_C02_063M has 0 null values
Column S2506_C02_064E has 0 null values
Column S2506_C02_064M has 0 null values
Column S2506_C02_065E has 0 null values
Column S2506_C02_065M has 0 null values
Column S2506_C01_001E has 0 null values
Column S2506_C01_001M has 0 null values
Column S2506_C01_002E has 0 null values
Column S2506_C01_002M has 0 null values
Column S2506_C01_003E has 0 null values
Column S2506_C01_003M has 0 null values
Column S2506_C01_004E has 0 null values
Column S2506_C01_004M has 0 null values
Column S2506_C01_005E has 0 null values
Column S2506_C01_005M has 0 null values
Column S2506_C01_006E has 0 null values
Column S2506_C01_006M has 0 null values
Column S2506_C01_007E has 0 null values
Column S2506_C01_007M has 0 null values
Column S2506_C01_008E has 0 null values
Column S2506_C01_008M has 0 null values
Column S2506_C01_009E has 0 null values
Column S2506_C01_009M has 0 null values
Column S2506_C01_010E has 0 null values
Column S2506_C01_010M has 0 null values
Column S2506_C01_011E has 0 null values
Column S2506_C01_011M has 0 null values
Column S2506_C01_012E has 0 null values
Column S2506_C01_012M has 0 null values
Column S2506_C01_013E has 0 null values
Column S2506_C01_013M has 0 null values
Column S2506_C01_014E has 0 null values
Column S2506_C01_014M has 0 null values
Column S2506_C01_015E has 0 null values
Column S2506_C01_015M has 0 null values
Column S2506_C01_016E has 0 null values
Column S2506_C01_016M has 0 null values
Column S2506_C01_017E has 0 null values
Column S2506_C01_017M has 0 null values
Column S2506_C01_018E has 0 null values
Column S2506_C01_018M has 0 null values
Column S2506_C01_019E has 0 null values
Column S2506_C01_019M has 0 null values
Column S2506_C01_020E has 0 null values
Column S2506_C01_020M has 0 null values
Column S2506_C01_021E has 0 null values
Column S2506_C01_021M has 0 null values
Column S2506_C01_022E has 0 null values
Column S2506_C01_022M has 0 null values
Column S2506_C01_023E has 0 null values
Column S2506_C01_023M has 0 null values
Column S2506_C01_024E has 0 null values
Column S2506_C01_024M has 0 null values
Column S2506_C01_025E has 0 null values
Column S2506_C01_025M has 0 null values
Column S2506_C01_026E has 0 null values
Column S2506_C01_026M has 0 null values
Column S2506_C01_027E has 0 null values
Column S2506_C01_027M has 0 null values
Column S2506_C01_028E has 0 null values
Column S2506_C01_028M has 0 null values
Column S2506_C01_029E has 0 null values
Column S2506_C01_029M has 0 null values
Column S2506_C01_030E has 0 null values
Column S2506_C01_030M has 0 null values
Column S2506_C01_031E has 0 null values
Column S2506_C01_031M has 0 null values
Column S2506_C01_032E has 0 null values
Column S2506_C01_032M has 0 null values
Column S2506_C01_033E has 0 null values
Column S2506_C01_033M has 0 null values
Column S2506_C01_034E has 0 null values
Column S2506_C01_034M has 0 null values
Column S2506_C01_035E has 0 null values
Column S2506_C01_035M has 0 null values
Column S2506_C01_036E has 0 null values

In [6]:
# Find duplicate entries
print(f"Duplicate entries: {census_df.duplicated().sum()}")

Duplicate entries: 0

In [7]:
# Only view needed column information
census = census_df.filter(items=['NAME', 'S2506_C01_002E', 'S2506_C01_003E', 'S2506_C01_004E', 'S2506_C01_005E', 'S2506_C01_006E', 'S2506_C01_007E', 'S2506_C01_008E', 'S2506_C01_009E', 'S2506_C01_010E', 'S2506_C01_011E', 'S2506_C01_012E', 'S2506_C01_013E', 'S2506_C01_014E', 'S2506_C01_015E', 'S2506_C01_016E', 'S2506_C01_017E', 'S2506_C01_018E', 'S2506_C01_019E', 'S2506_C01_020E', 'S2506_C01_021E', 'S2506_C01_022E', 'S2506_C01_023E', 'S2506_C01_042E', 'S2506_C01_068E'])
census

,NAME,S2506_C01_002E,S2506_C01_003E,S2506_C01_004E,S2506_C01_005E,S2506_C01_006E,S2506_C01_007E,S2506_C01_008E,S2506_C01_009E,S2506_C01_010E,...,S2506_C01_015E,S2506_C01_016E,S2506_C01_017E,S2506_C01_018E,S2506_C01_019E,S2506_C01_020E,S2506_C01_021E,S2506_C01_022E,S2506_C01_023E,S2506_C01_042E
0,Geographic Area Name,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...
1,Alabama,45154,134584,413329,81925,21023,5464,4706,158000,75725,...,19694,54860,50583,83271,146556,114273,145414,91534,74553,1205
2,Alaska,2324,1966,51086,37285,7595,1480,561,286900,8092,...,1811,3137,3884,7240,15288,16736,27454,26747,103942,19
3,Arizona,25820,58155,618612,253759,70881,21698,15426,238800,98283,...,29096,69658,67092,120361,202392,171564,220445,183743,80853,822
4,Arkansas,29303,92956,246125,36118,7160,2800,1706,142800,25376,...,12622,33571,30251,53837,89343,70528,73921,52095,71081,1194
5,California,48868,55518,834760,1430771,1234904,658249,763074,529000,684653,...,97564,224843,198282,363068,691382,681502,1134975,1634528,108609,1023
6,Colorado,14253,20445,327140,399935,156075,45543,31018,357700,136833,...,21169,40647,40402,86161,162877,159994,242688,240471,97207,158
7,Connecticut,7102,16388,316912,165248,55349,21382,28861,277900,109972,...,8430,19243,22118,43134,88146,88840,148537,192794,109560,0
8,Delaware,3254,3448,96626,46527,9708,2696,1812,258900,23980,...,6118,7594,8816,14719,30461,26078,34101,36184,87389,7
9,District of Columbia,1358,505,10058,23000,23233,16598,15518,609900,14860,...,1934,4337,1919,2923,9562,9283,18117,42195,138977,0
10,Florida,85497,230743,1605911,637495,176490,53938,59937,232100,316132,...,82686,214525,194641,343625,551073,447591,542710,473160,76655,1858
11,Georgia,59335,177595,899267,261768,86970,24851,19772,191100,169535,...,39021,99530,89928,155557,284625,243037,319362,298498,84284,710
12,Hawaii,867,748,18227,37900,55281,32032,27159,628300,31629,...,3784,5457,5180,11534,22778,25243,44537,53701,112506,6
13,Idaho,5943,17401,181921,59278,10403,3083,2268,214200,32866,...,5982,17983,20164,38478,66691,48567,52944,29488,70758,291
14,Illinois,70274,257803,1088733,396784,119236,40911,33698,208800,256830,...,39223,95075,94222,186557,352198,326784,450051,463329,92291,916
15,Indiana,53907,251649,695356,117779,25648,6028,6438,148000,142016,...,22628,77260,75115,136144,244184,207800,237940,155734,77197,935
16,Iowa,26956,108643,331603,69138,12656,3119,2067,157900,74009,...,8117,27868,28891,61018,115429,104827,128948,79084,82626,267
17,Kansas,25079,84493,251340,58500,13406,3268,2534,165300,44446,...,6203,19443,23257,45624,89903,76745,105423,72022,85462,243
18,Kentucky,39667,116039,414812,71167,16490,5753,4008,155600,86783,...,18067,49801,46117,77137,135224,115417,137924,88249,76392,1252
19,Louisiana,30229,75408,379871,79048,21302,5401,5286,179700,48683,...,18778,46909,43115,63247,108862,95783,126337,93514,79133,680
20,Maine,8567,23437,155384,41897,9619,2484,1913,201200,37410,...,3942,15713,16991,25296,50172,45735,53298,32154,80029,565
21,Maryland,18839,33657,430420,370387,143368,44757,31605,323400,163383,...,17205,40420,35815,69163,147045,148281,267473,347631,111824,41
22,Massachusetts,10234,10074,334478,416900,222042,76041,65788,391500,203521,...,13368,39969,36272,68697,142394,157405,275233,402219,117542,102
23,Michigan,103646,279498,993705,234282,51987,14424,11066,168100,213938,...,33649,101127,106759,193727,331261,289719,358918,273448,80952,1592
24,Minnesota,24439,65268,628497,236021,58516,14280,11872,232700,156573,...,13291,38070,44757,88227,187138,176508,259728,231174,95372,203
25,Mississippi,31424,86009,208342,32374,6099,1917,1204,143400,29322,...,13338,34315,26651,46776,77208,64544,65359,39178,70491,984
26,Missouri,46983,165937,601467,130085,27677,9129,7591,165600,100912,...,19090,61568,59173,114585,202556,174122,209363,148412,79793,1257
27,Montana,4903,9297,95524,41558,9994,3365,2497,248100,17970,...,4141,9908,10838,16822,35770,30328,37358,21973,78460,45
28,Nebraska,11124,46385,197716,38331,7254,2058,1960,165800,31491,...,4521,14293,13982,29995,62095,56707,73850,49385,86212,119
29,Nevada,6598,13853,240511,122406,29769,6461,7788,266000,34310,...,7424,24926,24897,47404,87965,70696,92457,71617,81726,136
30,New Hampshire,3885,7460,137183,72716,15270,3922,2234,270200,35054,...,2842,8057,8847,16906,38831,36815,65412,64960,105010,0
31,New Jersey,16722,30151,520612,473086,215715,70594,48520,341300,217161,...,20563,46525,45988,78058,169818,185096,331370,497982,119221,116
32,New Mexico,11005,25343,182146,43100,11010,4084,2958,189300,23671,...,11355,23429,20839,35448,55504,44006,52730,36335,71319,152
33,New York,53976,209979,833208,596475,366757,155703,178326,331500,339747,...,42386,104588,94135,180919,361200,353245,544158,713793,103477,1138
34,North Carolina,49275,204520,970894,278898,84255,25085,18873,190300,232337,...,36576,106691,104572,184615,326572,267593,325906,279275,79783,947
35,North Dakota,4873,9940,64549,23823,4685,751,689,221700,11777,...,1110,4057,4290,8189,20889,21243,29059,20473,92387,18
36,Ohio,87183,397797,1163097,210657,45724,13193,9685,153500,295528,...,32670,112453,117631,211928,387230,341785,422719,300920,81672,1467
37,Oklahoma,32506,105781,318348,52107,11435,3768,3050,152200,33779,...,10995,38010,36092,61672,110657,93460,105092,71017,76338,372
38,Oregon,10467,12674,262745,252858,95489,22447,15811,332400,85531,...,14334,35880,31751,68391,123576,116338,148411,133810,87879,252
39,Pennsylvania,71860,253040,1202092,380714,108056,27426,20376,198800,334509,...,38286,102821,103858,186798,389635,359660,467110,415396,89170,1408
40,Rhode Island,2290,2674,100592,49202,11860,2981,2776,259500,28922,...,2268,9170,7358,12620,30412,29268,43276,38003,95844,0
41,South Carolina,35970,102983,442247,116492,33498,12370,10973,181400,80306,...,21048,55951,49313,89267,152016,126787,149495,110656,76610,720
42,South Dakota,5949,16476,83494,17713,3582,1081,754,185000,12109,...,2126,5427,7487,13740,28255,25838,29674,16502,82017,79
43,Tennessee,40304,149259,587481,150512,43421,14397,11711,178400,98665,...,23393,74482,68935,116425,210671,163932,192503,146744,75616,1218
44,Texas,125099,416233,1984947,636572,173820,51964,50645,198500,173714,...,68206,177864,170042,305691,593456,542758,792025,789238,92899,1042
45,Utah,7120,7964,258233,153320,40138,10535,7020,279100,69929,...,6066,18627,20855,43228,98513,90913,121602,84526,89342,277
46,Vermont,1910,6417,67184,27320,5938,910,617,233200,19867,...,1775,7227,7219,10521,21758,20446,25369,15981,81746,0
47,Virginia,23601,65228,635952,391009,201464,72921,41238,297000,219699,...,24030,59586,59043,110849,230738,219202,321495,406470,101119,653
48,Washington,17877,24276,447400,400744,191442,81460,64294,352100,158660,...,20045,47480,47815,95848,198254,198004,301437,318610,100562,482
49,West Virginia,15731,53273,139070,23458,4851,1261,711,147900,22960,...,6160,21375,19252,29624,51987,39064,42736,28157,70452,481
50,Wisconsin,24460,120486,652508,156854,33277,9606,6624,186100,158915,...,15614,51008,52402,102309,195481,186340,238675,161986,85681,409
51,Wyoming,3171,3752,59550,18748,4541,1776,1319,226800,9446,...,1787,4707,4488,8907,18461,18176,24393,11938,85603,28
52,Puerto Rico,5314,74970,215060,12159,2833,600,1244,130200,7738,...,27833,71254,41474,55453,61986,26842,18207,9131,38982,2333

In [8]:
# Change column names
census.rename(columns={'NAME': 'State', 'S2506_C01_002E': 'Home Value <$50k (%)', 'S2506_C01_003E': 'Home Value $50k-$90k (%)', 'S2506_C01_004E': 'Home Value $100k-$149k (%)', 'S2506_C01_005E': 'Home Value $150k-$199k (%)', 'S2506_C01_006E': 'Home Value $200k-$299k (%)', 'S2506_C01_007E': 'Home Value $300k-$499k (%)', 'S2506_C01_008E': 'Home Value $500k+ (%)', 'S2506_C01_009E':'Median Home Value ($)(1000X)', 'S2506_C01_010E': '2nd Mortgage or Equity Loan (%)', 'S2506_C01_011E': '2nd Mortgage Only (%)', 'S2506_C01_012E': 'Equity Loan Only (%)', 'S2506_C01_013E': 'Both 2nd & Equity Loan (%)', 'S2506_C01_014E': 'No 2nd or Equity Loan (%)', 'S2506_C01_015E': 'Income <$10k (%)', 'S2506_C01_016E': 'Income $10k-$24,999 (%)', 'S2506_C01_017E': 'Income $25k-$34,999 (%)', 'S2506_C01_018E': 'Income $35k-$49,999 (%)', 'S2506_C01_019E': 'Income $50k-$74,999 (%)', 'S2506_C01_020E': 'Income $75k-$99,999 (%)', 'S2506_C01_021E': 'Income $100k-$149,999 (%)', 'S2506_C01_022E': 'Income $150k+ (%)', 'S2506_C01_023E': 'Median Income ($)(1000X)', 'S2506_C01_042E': 'Median Housing Cost (monthly) ($)', 'S2506_C01_068E': 'Median Real Estate Taxes ($)'}, inplace=True)
census.head()

,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),2nd Mortgage or Equity Loan (%),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
0,Geographic Area Name,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...
1,Alabama,45154,134584,413329,81925,21023,5464,4706,158000,75725,...,19694,54860,50583,83271,146556,114273,145414,91534,74553,1205
2,Alaska,2324,1966,51086,37285,7595,1480,561,286900,8092,...,1811,3137,3884,7240,15288,16736,27454,26747,103942,19
3,Arizona,25820,58155,618612,253759,70881,21698,15426,238800,98283,...,29096,69658,67092,120361,202392,171564,220445,183743,80853,822
4,Arkansas,29303,92956,246125,36118,7160,2800,1706,142800,25376,...,12622,33571,30251,53837,89343,70528,73921,52095,71081,1194

In [9]:
# Adding 'Year' column
census.insert(0, 'Year', 2017)
census.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
0,2017,Geographic Area Name,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...,Owner-occupied housing units with a mortgage!!...
1,2017,Alabama,45154,134584,413329,81925,21023,5464,4706,158000,...,19694,54860,50583,83271,146556,114273,145414,91534,74553,1205
2,2017,Alaska,2324,1966,51086,37285,7595,1480,561,286900,...,1811,3137,3884,7240,15288,16736,27454,26747,103942,19
3,2017,Arizona,25820,58155,618612,253759,70881,21698,15426,238800,...,29096,69658,67092,120361,202392,171564,220445,183743,80853,822
4,2017,Arkansas,29303,92956,246125,36118,7160,2800,1706,142800,...,12622,33571,30251,53837,89343,70528,73921,52095,71081,1194

In [10]:
# Delete rows with index 0    
census = census.drop([0])

In [11]:
census.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
1,2017,Alabama,45154,134584,413329,81925,21023,5464,4706,158000,...,19694,54860,50583,83271,146556,114273,145414,91534,74553,1205
2,2017,Alaska,2324,1966,51086,37285,7595,1480,561,286900,...,1811,3137,3884,7240,15288,16736,27454,26747,103942,19
3,2017,Arizona,25820,58155,618612,253759,70881,21698,15426,238800,...,29096,69658,67092,120361,202392,171564,220445,183743,80853,822
4,2017,Arkansas,29303,92956,246125,36118,7160,2800,1706,142800,...,12622,33571,30251,53837,89343,70528,73921,52095,71081,1194
5,2017,California,48868,55518,834760,1430771,1234904,658249,763074,529000,...,97564,224843,198282,363068,691382,681502,1134975,1634528,108609,1023

In [12]:
# Is the data in a format that can be passed into an unsupervised learning model?
census.dtypes

Year                                  int64
State                                object
Home Value <$50k (%)                 object
Home Value $50k-$90k (%)             object
Home Value $100k-$149k (%)           object
Home Value $150k-$199k (%)           object
Home Value $200k-$299k (%)           object
Home Value $300k-$499k (%)           object
Home Value $500k+ (%)                object
Median Home Value ($)(1000X)         object
2nd Mortgage or Equity Loan (%)      object
2nd Mortgage Only (%)                object
Equity Loan Only (%)                 object
Both 2nd & Equity Loan (%)           object
No 2nd or Equity Loan (%)            object
Income <$10k (%)                     object
Income $10k-$24,999 (%)              object
Income $25k-$34,999 (%)              object
Income $35k-$49,999 (%)              object
Income $50k-$74,999 (%)              object
Income $75k-$99,999 (%)              object
Income $100k-$149,999 (%)            object
Income $150k+ (%)                    object
Median Income ($)(1000X)             object
Median Housing Cost (monthly) ($)    object
dtype: object

In [13]:
# Temporarily delete State column to convert entire df to numeric
del census['State']

In [14]:
# Convert entire df to numeric
census = census.apply(pd.to_numeric)

In [15]:
# Make sure all dtypes are numeric
census.dtypes

Year                                 int64
Home Value <$50k (%)                 int64
Home Value $50k-$90k (%)             int64
Home Value $100k-$149k (%)           int64
Home Value $150k-$199k (%)           int64
Home Value $200k-$299k (%)           int64
Home Value $300k-$499k (%)           int64
Home Value $500k+ (%)                int64
Median Home Value ($)(1000X)         int64
2nd Mortgage or Equity Loan (%)      int64
2nd Mortgage Only (%)                int64
Equity Loan Only (%)                 int64
Both 2nd & Equity Loan (%)           int64
No 2nd or Equity Loan (%)            int64
Income <$10k (%)                     int64
Income $10k-$24,999 (%)              int64
Income $25k-$34,999 (%)              int64
Income $35k-$49,999 (%)              int64
Income $50k-$74,999 (%)              int64
Income $75k-$99,999 (%)              int64
Income $100k-$149,999 (%)            int64
Income $150k+ (%)                    int64
Median Income ($)(1000X)             int64
Median Housing Cost (monthly) ($)    int64
dtype: object

In [16]:
# Return the State column
census.insert(1, 'State', census_df['NAME'])
census.head()

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
1,2017,Alabama,45154,134584,413329,81925,21023,5464,4706,158000,...,19694,54860,50583,83271,146556,114273,145414,91534,74553,1205
2,2017,Alaska,2324,1966,51086,37285,7595,1480,561,286900,...,1811,3137,3884,7240,15288,16736,27454,26747,103942,19
3,2017,Arizona,25820,58155,618612,253759,70881,21698,15426,238800,...,29096,69658,67092,120361,202392,171564,220445,183743,80853,822
4,2017,Arkansas,29303,92956,246125,36118,7160,2800,1706,142800,...,12622,33571,30251,53837,89343,70528,73921,52095,71081,1194
5,2017,California,48868,55518,834760,1430771,1234904,658249,763074,529000,...,97564,224843,198282,363068,691382,681502,1134975,1634528,108609,1023

In [17]:
# The scale for Median Home Value is much larger than all the other values in the dataset
census['Median Home Value ($)(1000X)'] = census['Median Home Value ($)(1000X)'].div(1000)

In [18]:
# The scale for Median Income is much larger than all the other values in the dataset
census['Median Income ($)(1000X)'] = census['Median Income ($)(1000X)'].div(1000)

In [19]:
census

,Year,State,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,Income <$10k (%),"Income $10k-$24,999 (%)","Income $25k-$34,999 (%)","Income $35k-$49,999 (%)","Income $50k-$74,999 (%)","Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($)
1,2017,Alabama,45154,134584,413329,81925,21023,5464,4706,158.0,...,19694,54860,50583,83271,146556,114273,145414,91534,74.553,1205
2,2017,Alaska,2324,1966,51086,37285,7595,1480,561,286.9,...,1811,3137,3884,7240,15288,16736,27454,26747,103.942,19
3,2017,Arizona,25820,58155,618612,253759,70881,21698,15426,238.8,...,29096,69658,67092,120361,202392,171564,220445,183743,80.853,822
4,2017,Arkansas,29303,92956,246125,36118,7160,2800,1706,142.8,...,12622,33571,30251,53837,89343,70528,73921,52095,71.081,1194
5,2017,California,48868,55518,834760,1430771,1234904,658249,763074,529.0,...,97564,224843,198282,363068,691382,681502,1134975,1634528,108.609,1023
6,2017,Colorado,14253,20445,327140,399935,156075,45543,31018,357.7,...,21169,40647,40402,86161,162877,159994,242688,240471,97.207,158
7,2017,Connecticut,7102,16388,316912,165248,55349,21382,28861,277.9,...,8430,19243,22118,43134,88146,88840,148537,192794,109.560,0
8,2017,Delaware,3254,3448,96626,46527,9708,2696,1812,258.9,...,6118,7594,8816,14719,30461,26078,34101,36184,87.389,7
9,2017,District of Columbia,1358,505,10058,23000,23233,16598,15518,609.9,...,1934,4337,1919,2923,9562,9283,18117,42195,138.977,0
10,2017,Florida,85497,230743,1605911,637495,176490,53938,59937,232.1,...,82686,214525,194641,343625,551073,447591,542710,473160,76.655,1858
11,2017,Georgia,59335,177595,899267,261768,86970,24851,19772,191.1,...,39021,99530,89928,155557,284625,243037,319362,298498,84.284,710
12,2017,Hawaii,867,748,18227,37900,55281,32032,27159,628.3,...,3784,5457,5180,11534,22778,25243,44537,53701,112.506,6
13,2017,Idaho,5943,17401,181921,59278,10403,3083,2268,214.2,...,5982,17983,20164,38478,66691,48567,52944,29488,70.758,291
14,2017,Illinois,70274,257803,1088733,396784,119236,40911,33698,208.8,...,39223,95075,94222,186557,352198,326784,450051,463329,92.291,916
15,2017,Indiana,53907,251649,695356,117779,25648,6028,6438,148.0,...,22628,77260,75115,136144,244184,207800,237940,155734,77.197,935
16,2017,Iowa,26956,108643,331603,69138,12656,3119,2067,157.9,...,8117,27868,28891,61018,115429,104827,128948,79084,82.626,267
17,2017,Kansas,25079,84493,251340,58500,13406,3268,2534,165.3,...,6203,19443,23257,45624,89903,76745,105423,72022,85.462,243
18,2017,Kentucky,39667,116039,414812,71167,16490,5753,4008,155.6,...,18067,49801,46117,77137,135224,115417,137924,88249,76.392,1252
19,2017,Louisiana,30229,75408,379871,79048,21302,5401,5286,179.7,...,18778,46909,43115,63247,108862,95783,126337,93514,79.133,680
20,2017,Maine,8567,23437,155384,41897,9619,2484,1913,201.2,...,3942,15713,16991,25296,50172,45735,53298,32154,80.029,565
21,2017,Maryland,18839,33657,430420,370387,143368,44757,31605,323.4,...,17205,40420,35815,69163,147045,148281,267473,347631,111.824,41
22,2017,Massachusetts,10234,10074,334478,416900,222042,76041,65788,391.5,...,13368,39969,36272,68697,142394,157405,275233,402219,117.542,102
23,2017,Michigan,103646,279498,993705,234282,51987,14424,11066,168.1,...,33649,101127,106759,193727,331261,289719,358918,273448,80.952,1592
24,2017,Minnesota,24439,65268,628497,236021,58516,14280,11872,232.7,...,13291,38070,44757,88227,187138,176508,259728,231174,95.372,203
25,2017,Mississippi,31424,86009,208342,32374,6099,1917,1204,143.4,...,13338,34315,26651,46776,77208,64544,65359,39178,70.491,984
26,2017,Missouri,46983,165937,601467,130085,27677,9129,7591,165.6,...,19090,61568,59173,114585,202556,174122,209363,148412,79.793,1257
27,2017,Montana,4903,9297,95524,41558,9994,3365,2497,248.1,...,4141,9908,10838,16822,35770,30328,37358,21973,78.460,45
28,2017,Nebraska,11124,46385,197716,38331,7254,2058,1960,165.8,...,4521,14293,13982,29995,62095,56707,73850,49385,86.212,119
29,2017,Nevada,6598,13853,240511,122406,29769,6461,7788,266.0,...,7424,24926,24897,47404,87965,70696,92457,71617,81.726,136
30,2017,New Hampshire,3885,7460,137183,72716,15270,3922,2234,270.2,...,2842,8057,8847,16906,38831,36815,65412,64960,105.010,0
31,2017,New Jersey,16722,30151,520612,473086,215715,70594,48520,341.3,...,20563,46525,45988,78058,169818,185096,331370,497982,119.221,116
32,2017,New Mexico,11005,25343,182146,43100,11010,4084,2958,189.3,...,11355,23429,20839,35448,55504,44006,52730,36335,71.319,152
33,2017,New York,53976,209979,833208,596475,366757,155703,178326,331.5,...,42386,104588,94135,180919,361200,353245,544158,713793,103.477,1138
34,2017,North Carolina,49275,204520,970894,278898,84255,25085,18873,190.3,...,36576,106691,104572,184615,326572,267593,325906,279275,79.783,947
35,2017,North Dakota,4873,9940,64549,23823,4685,751,689,221.7,...,1110,4057,4290,8189,20889,21243,29059,20473,92.387,18
36,2017,Ohio,87183,397797,1163097,210657,45724,13193,9685,153.5,...,32670,112453,117631,211928,387230,341785,422719,300920,81.672,1467
37,2017,Oklahoma,32506,105781,318348,52107,11435,3768,3050,152.2,...,10995,38010,36092,61672,110657,93460,105092,71017,76.338,372
38,2017,Oregon,10467,12674,262745,252858,95489,22447,15811,332.4,...,14334,35880,31751,68391,123576,116338,148411,133810,87.879,252
39,2017,Pennsylvania,71860,253040,1202092,380714,108056,27426,20376,198.8,...,38286,102821,103858,186798,389635,359660,467110,415396,89.170,1408
40,2017,Rhode Island,2290,2674,100592,49202,11860,2981,2776,259.5,...,2268,9170,7358,12620,30412,29268,43276,38003,95.844,0
41,2017,South Carolina,35970,102983,442247,116492,33498,12370,10973,181.4,...,21048,55951,49313,89267,152016,126787,149495,110656,76.610,720
42,2017,South Dakota,5949,16476,83494,17713,3582,1081,754,185.0,...,2126,5427,7487,13740,28255,25838,29674,16502,82.017,79
43,2017,Tennessee,40304,149259,587481,150512,43421,14397,11711,178.4,...,23393,74482,68935,116425,210671,163932,192503,146744,75.616,1218
44,2017,Texas,125099,416233,1984947,636572,173820,51964,50645,198.5,...,68206,177864,170042,305691,593456,542758,792025,789238,92.899,1042
45,2017,Utah,7120,7964,258233,153320,40138,10535,7020,279.1,...,6066,18627,20855,43228,98513,90913,121602,84526,89.342,277
46,2017,Vermont,1910,6417,67184,27320,5938,910,617,233.2,...,1775,7227,7219,10521,21758,20446,25369,15981,81.746,0
47,2017,Virginia,23601,65228,635952,391009,201464,72921,41238,297.0,...,24030,59586,59043,110849,230738,219202,321495,406470,101.119,653
48,2017,Washington,17877,24276,447400,400744,191442,81460,64294,352.1,...,20045,47480,47815,95848,198254,198004,301437,318610,100.562,482
49,2017,West Virginia,15731,53273,139070,23458,4851,1261,711,147.9,...,6160,21375,19252,29624,51987,39064,42736,28157,70.452,481
50,2017,Wisconsin,24460,120486,652508,156854,33277,9606,6624,186.1,...,15614,51008,52402,102309,195481,186340,238675,161986,85.681,409
51,2017,Wyoming,3171,3752,59550,18748,4541,1776,1319,226.8,...,1787,4707,4488,8907,18461,18176,24393,11938,85.603,28
52,2017,Puerto Rico,5314,74970,215060,12159,2833,600,1244,130.2,...,27833,71254,41474,55453,61986,26842,18207,9131,38.982,2333

In [20]:
# Saving cleaned data
file_path = "../Resources/clean_data/census_2017.csv"
census.to_csv(file_path, index=False)