In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
df = pd.read_csv("../Resources/clean_data/Merged/region_migration.csv")
df.head()

         NAME  Region    Year    value
0     Alabama     3.0  2010.0   3364.0
1      Alaska     4.0  2010.0   9579.0
2     Arizona     4.0  2010.0  33854.0
3    Arkansas     3.0  2010.0   4172.0
4  California     4.0  2010.0   4172.0

In [3]:
# Make sure dtypes are set up for analysis
df.dtypes

NAME       object
Region    float64
Year      float64
value     float64
dtype: object

In [4]:
# Convert Year to datetime
df['Year'] =  pd.to_datetime(df['Year'], format='%Y')

In [5]:
# Groupby Region to get total Californians moved to each region
df = df.groupby(['Region']).sum()
df

            value
Region
0.0       14967.0
1.0      733032.0
2.0      761529.0
3.0     1366354.0
4.0     1662042.0

**NOTE:**  
Region values in population data:  
0 = Puerto Rico  
1 = Northeast Region  
2 = Midwest Region  
3 = South Region  
4 = West Region

Grouping the regions and getting the sums, show that Californian's are mostly moving to the West Region of the U.S..

In [7]:
# Saving cleaned data
file_path = "../Resources/analysis/region_migration.csv"
df.to_csv(file_path, index=False)