In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/census_2014.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/pop_2014.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2014,Alabama,8.8,21.6,21.5,17.2,18.2,9.7,3.0,145.7,...,18.0,10.5,66.546,1119,603,3,4841799,11718,2725,0.563489
1,2014,Alaska,2.6,2.5,5.7,15.4,35.6,30.9,7.4,268.7,...,28.6,23.4,102.659,1797,3260,4,736283,-785,-8443,-11.460949
2,2014,Arizona,4.9,11.0,16.7,19.0,22.4,17.7,8.3,194.9,...,18.6,14.6,72.609,1273,1401,4,6730413,97649,61260,9.168478
3,2014,Arkansas,10.4,26.2,23.4,17.2,13.6,6.9,2.4,128.2,...,16.5,9.2,63.705,995,835,3,2967392,7992,-271,-0.091449
4,2014,California,2.7,2.1,4.1,6.2,14.7,30.0,40.2,427.7,...,21.8,26.4,96.305,2068,3548,4,38596972,336185,84680,2.203551

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/2014.csv"
df.to_csv(file_path, index=False)